@import "@/_theme/theme.scss";
.site-balance-record{
  .content{
    padding-top: .2rem;
    font-size: .26rem;
    .list{
      background: none;
    }
  }
  .no-data{
    text-align: center;
  }
  
}

.month-report-record,.daily-report-record-modal{
  .month-record-item{
    padding: .1rem;
    text-align: left;
    .tl{
      font-size: .26rem;
      color: #333;
      margin: 0 0 .16rem 0;
      span{
        float: right;
        text-decoration: underline;
      }
    }
    .dd{
      font-size: .24rem;
      color: #666;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      span{
        width: 50%;
        height: .4rem;
        line-height: .4rem;
        &.btn{

          width: auto;
          color: $primary-color;
          text-decoration: underline;
          border-radius: 3px;
          position: absolute;
          font-weight: bold;;
          bottom:0;
          right: 0;
        }
      }
    }
  }
}
.daily-report-record-modal{
  .page__content{
    overflow-y: auto!important;
  }
}