.order-comp {
  color: #333;
  .order-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 8px;
    &::before {
      content: '';
      display: block;
      width: 3px;
      height: 24px;
      margin-right: 5px;
      background-color: #f78918;
    }
  }
  .fill-area {
    background-color: #fefcf2;
    padding: 0 10px;
    color: #999;
    font-size: 12px;
    > div {
      border-top: 1px solid #ccc;
      padding: 8px 0;
      white-space: nowrap;
      &:nth-child(1) {
        border-top: none;
      }
      &.city-field {
        display: flex;
        align-items: center;
        > div {
          flex: 1;
          display: flex;
          align-items: center;
        }
      }
      display: flex;
      align-items: center;
      input[type=text] , select {
        font-size: 18px;
        flex: 1;
        color: #000;
      }
      input[type=text] {
        border: none;
        background-color: transparent;
      }
      ons-select {
        font-size: 12px;
        width: 87%;
      }
      font.red {
        color: red;
      }
    }
  }
  .confirm-btn {
    background-color: #f77e04;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 2;
    border-radius: 5px;
    width: 100%;
    border: none;
  }
  .confirm-btn[disabled] {
    background-color: #aaa;
  }
}