@import "@/_theme/theme.scss";

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.redpacket-rank-page {
  .hd {
    background-color: $primary-color;
    text-align: center;
    height: 1.6rem;
    overflow: hidden;
    border-bottom: 1px solid darken($primary-color, 5);
    img {
      width: 2rem;
      margin: 0 auto;
    }
  }
  .filter {
    height: 0.8rem;
    line-height: 0.8rem;
    border-top: 1px solid lighten($primary-color, 5);
    background-color: $primary-color;
    display: flex;

    div {
      flex: 1;
      text-align: center;
      color: #ffffff;
      position: relative;
      font-size: 0.26rem;
      font-weight: bold;
      margin: 0.06rem 0px;
      line-height: 0.68rem;
      &::after {
        content: "";
        position: absolute;
        width: 0px;
        height: 0.24rem;
        right: -0.04rem;
        top: 0.2rem;
        border-left: 1px solid lighten($primary-color, 5);
        border-right: 1px solid darken($primary-color, 5);
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
      &.active {
        background-color: rgba(0, 0, 0, 0.1);
        &::before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          left: 50%;
          bottom: 0.04rem;
          margin-left: -0.1rem;
          border: 0.1rem solid;
          border-color: transparent transparent #fff transparent;
        }
      }
    }
  }
  .filter2 {
    display: flex;
    width: 200px;
    margin: 0.2rem auto;
    border-radius: 0.6rem;
    border: 1px solid #ccc;
    overflow: hidden;
    div {
      flex: 1;
      height: 0.48rem;
      line-height: 0.48rem;
      text-align: center;
      font-size: 0.24rem;
      font-weight: bold;
      color: #666;
      &.center {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
      }
      &.active {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
  .bd {
    .loading {
      height: 0.6rem;
      line-height: 0.6rem;
      text-align: center;
      font-size: 0.24rem;
      color: #666;
      .ons-icon {
        font-size: 0.4rem;
        height: 0.4rem;
        width: 0.4rem;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        vertical-align: 0;
      }
    }
    .list {
      background-image: none;

      .left {
        .index {
          width: 0.48rem;
          text-align: center;
          line-height: 0.48rem;
          margin-right: 0.2rem;
          font-size: 0.28rem;
          font-weight: bold;
          position: relative;
        }
        .avatar {
          height: 0.48rem;
          width: 0.48rem;
          border-radius: 0.24rem;
          background-color: #ccc;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 0.32rem;
        }
      }
      .list-item {
        .list-item__left,
        .list-item__center,
        .list-item__right {
          padding: 0.06rem 0.28rem 0.06rem 0;
        }
        .right {
          color: red;
          font-weight: bold;
        }
        .no {
          width: 0.56rem;
          height: 0.56rem;
          position: relative;
          span {
            position: relative;
            z-index: 2;
            display: block;
            width: 0.36rem;
            height: 0.36rem;
            box-sizing: border-box;
            line-height: 0.36rem;
            color: #666;
            font-weight: bold;
          }
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          .no {
            margin-top: 0.2rem;
            &:before {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              border: 0.24rem solid transparent;
              border-top: 0.48rem solid #f2c641;
              left: 50%;
              margin-left: -0.28rem;
              top: -0.08rem;
              z-index: 0;
              border-radius: 3px;
            }
            &:after {
              z-index: 1;
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              border: 0.24rem solid transparent;
              border-top: 0.48rem solid #fff;
              left: 50%;
              top: -0.36rem;
              margin-left: -0.28rem;
            }
            span {
              position: relative;
              z-index: 2;
              display: block;
              width: 0.48rem;
              height: 0.48rem;
              border-radius: 50%;
              background: #f2c641;
              border: 2px solid #fff;
              box-sizing: border-box;
              line-height: 0.4rem;
              color: #fff;
              font-weight: bold;
            }
          }
          &:nth-child(2) {
            .no {
              &::before {
                border-top-color: #b0b1c8;
              }
              span {
                background: #b0b1c8;
              }
            }
          }
          &:nth-child(3) {
            .no {
              &::before {
                border-top-color: #c58d50;
              }
              span {
                background: #c58d50;
              }
            }
          }
        }
      }
    }
  }
}
