$gap: 12px;

.forum-article-detail {
  .page__content {
    display: flex;
    flex-direction: column;
  }

  .base-name .name {
    font-size: 15px;
  }
  .space {
    width: 100%;
    height: 5px;
    background-color: #E8E8E8;
  }
  .announcement {
    padding: $gap;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    .mark {
      background-color: #77BBFD;
      color: #fff;
      margin-right: $gap;
      font-size: 14px;
      border-radius: 3px;
      padding: 5px;
      line-height: 1;
    }
    .title {
      flex: 1;
      border-left: 1px solid #eee;
      padding: $gap;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .content {
    font-size: 16px;
    line-height: 1.2;
    padding: 18px 12px 12px;
    flex: 1;
  }
  .count {
    height: 44px;
    border-top: #ccc 1px solid;
    font-size: 14px;
    display: flex;
    .space {
      width: 1px;
      height: 100%;
    }
    .like, .unlike, .view {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-right: 3px;
      }
    }

    .like {
      flex: 1;
    }
    .unlike {
      flex: 1;
      color: #ccc;
    }
    .view {
      padding: 0 10px;
    }
  }
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin-right: 3px;
  }
}