.basic-info {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  .avatar {
    margin-right: 15px;
  }
  .text {
    flex: 1;
    &.divider {
      display: flex;
      .base-name {
        flex: 1;
      }
    }
    .win_rate {
      color: #f7ac04;
      font-size: 12px;
      display: flex;
      align-items: flex-start;
      .title_win_ic {
        margin-right: 5px;
      }
    }
  }
  .name {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
  }
  .time {
    color: #9f9f9f;
    font-size: 12px;
  }
}
