@import "@/_theme/theme.scss";

.ball-group {
  display: flex;
  padding: 0.06rem 0;
  height: 0.48rem;
  line-height: 0.48rem;
  vertical-align: middle;
  justify-content: space-between;
  align-items: center;

  //.hash-less{
  //    width: 20px;
  //    height: 100%;
  //    display: inline-block;
  //    background: url("/public/images/LotteryBall/hashCode.png") no-repeat center;
  //    background-size: contain;
  //}
  .hash {
    //width: 20px;
    //padding-left: 23px;
    //padding-right: 5px;
    height: 0.4rem;
    width: 1.1rem;
    line-height: 0.4rem;
    display: inline-block;
    background: url("/public/images/LotteryBall/hashCode.png") no-repeat center;
    background-size: contain;
    text-decoration: none;
    color: #fff;
    //padding-left: 0.4rem;
    //padding-right: 0.1rem;
    //background-color: #ff9427;
  }
  .balls {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    .shengxiao {
      color: #888;
      font-weight: 400;
    }
  }
  .ball {
    height: 0.48rem;
    width: 0.48rem;
    text-align: center;
    font-size: 0.28rem;
    line-height: 0.48rem;
    background-color: $primary-color;
    color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    &.green {
      background: linear-gradient(to bottom, #30ca30 0%, darken(#30ca30, 10) 100%);
    }
    &.red {
      background: linear-gradient(to bottom, #d32626 0%, darken(#d32626, 10) 100%);
    }
    &.blue {
      background: linear-gradient(to bottom, #3232fb 0%, darken(#3232fb, 10) 100%);
    }
    &.小,
    &.单 {
      background: #b5076b;
    }
    &.和 {
      background: #009688;
    }
    &.empty {
      background: transparent;
    }
  }
  .text {
    font-size: 0.26rem;
    color: #333;
    padding: 0 0.06rem;
    white-space: nowrap;
  }

  &.small {
    .ball {
      height: 0.4rem;
      width: 0.4rem;
      line-height: 0.4rem;
      font-size: 0.24rem;
      text-indent: 0;
    }
    .text {
      font-size: 0.24rem;
      padding: 0 0.06rem;
    }
  }
  &.ssc.number,
  &.syxw.number,
  &.qxc.number,
  &.fc3.number {
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: unset;
    > span {
      margin-right: 10px;
      margin-bottom: 5px;
    }
  }
  &.pcdd {
    &.number {
      width: 3.2rem;
    }
    .balls {
      max-width: 3.2rem;
    }
  }
  &.klsf {
    &.number {
      width: 4.4rem;
    }
    .text.he {
      width: 0.6rem;
      text-align: center;
    }
  }
  &.fc3,
  &.qxc {
    .text.he {
      width: 0.8rem;
    }
  }
  &.ks {
    &.number {
      width: 2rem;
    }
    .ball {
      border-radius: 0;
      background-color: transparent;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .ball-1 {
      background-image: url("/public/images/LotteryBall/ks1.png");
    }
    .ball-2 {
      background-image: url("/public/images/LotteryBall/ks2.png");
    }
    .ball-3 {
      background-image: url("/public/images/LotteryBall/ks3.png");
    }
    .ball-4 {
      background-image: url("/public/images/LotteryBall/ks4.png");
    }
    .ball-5 {
      background-image: url("/public/images/LotteryBall/ks5.png");
    }
    .ball-6 {
      background-image: url("/public/images/LotteryBall/ks6.png");
    }
    .text.he {
      width: 0.8rem;
    }
    .balls {
      max-width: 2.4rem;
    }
  }
  &.pks {
    .ball {
      border-radius: 2px;
      background: transparent;
      color: #f77e04;
      &.龙 {
        background: transparent !important;
      }
      &.虎 {
        background: transparent !important;
      }
    }
    //.ball-1{
    //    background: #cc0;
    //}
    //.ball-2{
    //    background: #108ee9;
    //}
    //.ball-3{
    //    background: #888;
    //}
    //.ball-4{
    //    background: #f96;
    //}
    //.ball-5{
    //    background: #039;
    //}
    //.ball-6{
    //    background: #636;
    //}
    //.ball-7{
    //    background: #ccc;
    //}
    //.ball-8{
    //    background: #cd0005;
    //}
    //.ball-9{
    //    background: #c96;
    //}
    //.ball-10{
    //    background: #56a55c;
    //}
    &.number {
      width: 6rem;
    }
  }
  &.lhc {
    height: auto;
    &.number {
      width: 4.4rem;
    }
    .balls > div > span {
      display: block;
      text-align: center;
      &.shengxiao {
        height: 0.36rem;
        line-height: 0.36rem;
      }
    }
    .balls.TM {
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-left: 10px;
    }
    .text {
      display: flex;
      align-items: center;
    }
  }
  &.klb {
    height: auto;
    flex-wrap: wrap;
    &.number {
      > div {
        width: 100%;
        margin-bottom: 0.1rem;
        display: flex;
        justify-content: space-between;
      }
    }
    .balls {
      height: auto;
      flex-wrap: wrap;
      > div {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
    }
    .text {
      display: flex;
      align-items: center;
    }
  }
  em {
    font-style: normal;
    &.大,
    &.尾大 {
      color: red;
    }
    &.小,
    &.尾小 {
      color: blue;
    }
    &.双 {
      color: red;
    }
    &.单 {
      color: blue;
    }
    &.龙 {
      color: red;
    }
    &.虎 {
      color: blue;
    }
    &.蓝波 {
      color: blue;
    }
    &.绿波 {
      color: green;
    }
    &.红波 {
      color: red;
    }
  }
  &.record-xt {
    .he {
      min-width: 0.72rem;
    }
    .xt {
      min-width: 0.48rem;
      display: inline-block;
      text-align: center;
      font-weight: bold;
      &.lh {
        min-width: 0.28rem;
      }
    }
    .dx,
    .ds {
      min-width: 0.28rem;
      font-weight: 500;
    }
    .jz,
    .dz,
    .sebo {
      min-width: 0.48rem;
      text-align: center;
      font-weight: 500;
    }
    .大,
    .双 {
      color: $primary-color;
    }
    .小,
    .单 {
      color: $second-color;
    }
    .ball.龙 {
      background: $primary-color;
    }
    .ball.虎 {
      background: $second-color;
    }
    .dxds,
    .h3xt {
      color: $primary-color;
    }

    &.pks {
      .he {
        min-width: 0.32rem;
        text-align: center;
      }
    }
    &.pcdd {
      .he {
        min-width: 0.32rem;
        text-align: center;
      }
    }
  }

  &.record-bh {
    justify-content: flex-start;
    align-items: center;
    .bh {
      flex-grow: 1;
    }
    .fill {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.wuxing {
  display: flex;
  justify-content: space-around;
  padding: 0 0 0.1rem;
  .wuxing-ball {
    max-width: 0.6rem;
    p {
      margin: 0;
      text-align: center;
      line-height: 0.32rem;
      font-size: 0.24rem;
    }
    .p1 {
      font-size: 0.26rem;
      height: 0.36rem;
      line-height: 0.36rem;
      color: $primary-color;
      font-weight: bold;
    }
    .p2 {
      color: #444;
      padding: 0.1rem 0;
      white-space: normal;
    }
  }
}

.niuniu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  height: 35px;

  .time {
  }
  .issue {
  }
  .cards {
    .card {
      display: inline-block;
      margin: 0;
      margin-right: 3px;
      padding: 0;
    }
  }
  .total {
    font-size: 14px;
    color: #303d4e;
  }
  .result {
    font-size: 14px;
    color: #303d4e;
  }
  .hash {
  }
}
