@import "@/_theme/theme.scss";


.page__content{
  overflow: hidden;
}
.forum_donate_list {

  .tab_switch_area {
    display: flex;
    flex-direction: row;

    .tab_item {
      height: 42px;
      line-height: 42px;
      text-align: center;
      font-weight: 500;
      color: #CCCCCC;
      background: #F1F1F1;
      font-size: 14px;
      flex: 1;

      &.sel {

        color: #1F1F21;
        background: white;
      }
    }
  }

  .ErrorMsg {
    position: absolute;
    top: 76px;
    font-size: 14px;
    color: #6E6E6E;
    margin-left: 66px;
    margin-right: 66px;


    text-align: start;

    .content {
      font-weight: bold;
      margin-bottom: 40px;
    }

  }

  .empty_list {

  }

  .content {
    height: 100%;
    overflow-y: scroll;

    .top_bar {
      height: 32px;
      text-align: center;
      background: #FFFBEC;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      color: $primary-color;
      border-top: 1px solid #FCF1CF;
      border-bottom: 1px solid #FCF1CF;


    }

    .title_bar {
      margin-top: 26px;
      margin-left: 14px;
      margin-right: 14px;
      font-size: 12px;
      color: #9F9F9F;
      margin-bottom: 14px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      div {
        display: inline-block;
      }

      .title1 {
        width: 33%;
        text-align: center;
      }

      .title2 {
        width: 28%;
        text-align: center;
      }

      .title3 {
        width: 36%;
        text-align: center;
      }
    }

    .list {
      margin-left: 14px;
      margin-right: 14px;

      .row {
        padding: 9px 0;
        border-bottom: 1px solid $divider;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .member_name {
          width: 33%;
          display: inline-block;
          font-size: 16px;
          color: black;
          text-align: left;

        }

        .member_price {
          display: inline-block;
          width: 28%;
          font-size: 15px;
          color: #E80000;
          text-align: center;

        }

        .member_time {
          display: inline-block;
          width: 36%;
          font-size: 13px;
          color: #9F9F9F;
          text-align: right;

        }
      }
    }

    .audit_list_content {
      .list {
        .member_name {
          text-align: right;
          color: #9F9F9F;
          &.pass,  &.reject{
            color: #E80000;
          }
        }
        .member_time {
          text-align: left;
        }
      }
    }
  }

}

.forum_donate_list_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  line-height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #FFEBD6 no-repeat center;

  &.disable {

    background: #F1F1F1;
  }

  .left {
    flex: 1;
    flex-direction: row;
    display: flex;
    align-items: center;

    .title {

      color: black;
      font-size: 16px;
      margin-left: 14px;
      margin-right: 10px;
    }

    .claim_input_border {

      height: 34px;
      background: white;
      line-height: 34px;
      width: 99px;
      padding: 7px 10px;
      color: black;
      font-size: 14px;
      border: 1px solid #CCCCCC;
    }
  }

  .right {
    background: #E80000;
    padding-left: 20px;
    width: 119px;
    text-align: left;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;

    &.disable {
      background: #CCCCCC;

    }

    div {
      margin-left: 5px;
    }

  }

}
