@import "@/_theme/theme.scss";
.site-deposit-gopay {
  font-size: 0.26rem;
  .page__content {
    padding-bottom: 0.7rem;
  }
  .page__background {
    @apply bg-[#F4F5F9];
  }
  .content {
    .inline {
      display: inline-block;
    }
  }
  .payBox {
    @apply flex flex-wrap justify-evenly items-center py-1 bg-white;
    .payItem {
      @apply flex justify-center items-center flex-wrap py-1 my-0.5 border border-solid border-[#bbb] rounded-sm w-[40%];
      box-shadow: 1px 1px 3px #ddd;
      p {
        @apply m-0 text-[#333] inline-block w-full text-center text-[0.28rem];
        &:last-child {
          @apply text-1 text-[#999] font-normal;
        }
      }
      &.active {
        @apply border-theme font-bold;
        box-shadow: 1px 1px 3px #ffbe8b;
        p {
          color: $primary-color;
          &:last-child {
            color: #999;
          }
        }
      }
    }
    .last {
      width: 40%;
    }
  }
  .teachItem {
    @apply text-center text-[#0052ca] cursor-pointer;
    border-bottom: 1px solid #0052ca;
  }
  .submit {
    @apply w-full text-center;
    .button {
      @apply w-[95%] m-auto;
    }
  }
  .money-btn {
    @apply w-1/5 bg-[#F9F9FA] py-0.5 border border-[#E0E0E0] border-solid text-[#666666] text-center rounded-sm;
    &.active {
      @apply bg-[#FF9933] text-white border-transparent;
    }
  }
  .money-input::placeholder {
    @apply text-[#AEAEAE];
  }
}
