.login-popup {
  @apply rounded-t-[20px] max-w-[600px] mx-auto bg-white font-normal;
  :global {
    .basic {
      .login {
        color: white;
        border-radius: 30px;
        text-align: center;
        font-size: 18px;
        padding: 0.27rem 0 0.3rem 0;
        height: 62px;
        position: relative;
        z-index: 0;
        @apply bg-[#D44300];
        &::after {
          position: absolute;
          content: "";
          position: absolute;
          width: 100%;
          height: 56px;
          border-radius: 30px;
          z-index: -1;
          top: -1px;
          left: 0;
          @apply bg-theme;
        }
      }
      .register {
        margin-top: 0.25rem;
        border-radius: 30px;
        text-align: center;
        font-size: 18px;
        padding: 0.27rem 0 0.3rem 0;
        height: 62px;
        position: relative;
        z-index: 0;
        @apply bg-theme text-theme;
        &::after {
          position: absolute;
          content: "";
          background-color: white;
          position: absolute;
          width: 100%;
          height: 56px;
          border-radius: 30px;
          z-index: -1;
          top: -1px;
          left: 0;
          border: 1px solid;
          @apply border-theme;
        }
      }
      .others {
        display: flex;
        gap: 0 12px;
        margin-top: 20px;
        .section {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 70px;
          align-items: center;
          color: #6e6e6e;
          border: 1px solid #edeceb;
          border-radius: 6px;
          font-size: 14px;
          padding: 5px 0;
          font-weight: 400;
          .icon {
            width: 32px;
            margin-bottom: 5px;
          }
        }
      }
    }
    .content {
      z-index: 1;
      box-sizing: border-box;
      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
      }
      .tab {
        display: flex;
        @apply text-[14px];
        .btn {
          flex-grow: 1;
          text-align: center;
          padding: 10px 0;
          @apply text-theme;
        }
        .active {
          border-radius: 24px;
          color: white;
          @apply bg-theme;
        }
      }
      .inputBox {
        @apply h-[48px] px-3 mb-[8px] mt-0;
        border-radius: 28px;
        border: 1px solid #eeeeee;
        .prefix {
          left: 0.25rem;
        }
        .subfix {
          @apply top-1/2 -translate-y-1/2;
          right: 0.25rem;
        }
        .icon-box {
          @apply w-3;
        }
        // input::placeholder {
        //   @apply font-light;
        // }
      }
      .loginBox {
        .login-btn {
          height: 40px;
        }
        .verify {
          margin-top: 0.16rem;
          .yidun_intelli-control {
            background-color: #aaaaaa;
            border-radius: 28px;
          }
          .yidun_intellisense--light .yidun_intelli-tips {
            color: white;
          }
        }
      }
      .tips {
        display: inline-block;
        font-size: 0.24rem;
        padding: 0;
        color: #444;
        width: auto;
        margin: 0;
        text-decoration: underline;
      }
      .buttonBox {
        &.verifi .button {
          border: 1px solid #e4e7eb;
          background-color: #f7f9fa;
          color: #45494c;
          span {
            display: inline-block;
            margin-right: 0.1rem;
            width: 0.56rem;
            height: 0.56rem;
            vertical-align: middle;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 2px 8px 1px rgba(188, 196, 204, 0.5);
          }
        }
        &.loginBtn .button {
          @apply text-[16px] py-[10px] bg-theme text-white w-full text-center rounded-[3px] leading-normal;
        }
        &.registerBtn {
          text-align: center;
          font-size: 14px;
          margin-top: 0.4rem;
          height: 0.48rem;
          line-height: 0.48rem;
          span {
            text-decoration: underline;
            @apply text-theme;
          }
          &:active {
            background-color: "#f7f9fa";
          }
        }
      }
    }
    .checkbox__checkmark::after {
      @apply top-[6px] left-[5px] border-[3px] w-[11px] h-[5px];
    }
    .checkbox__checkmark::before {
      @apply border-[#636363];
    }
    .inputBox input {
      @apply font-normal text-[14px];
    }
    .yidun_classic-container {
      position: fixed !important;
      left: 50% !important;
      bottom: auto !important;
      top: -50%;
      transform: translateY(-50%) translateX(-50%);
      width: 320px !important;
      margin: auto;
      //   // pointer-events: none;
    }
    .yidun_intelli-icon {
      @apply relative -top-[2px];
    }
  }
}

.bg-linear {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 100%);
}
