@import "@/_theme/theme.scss";

.niuniu_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .first_lv {
    height: 32px;
    display: flex;
    padding-left: 11px;
    padding-right: 11px;
    background: white;
    align-items: center;

    .highest {
      color: #666666;
      font-size: 14px;
    }

    .flex_block {
      flex: 1;
    }

    .balance {
      font-size: 14px;
      color: #666666;
      margin-right: 9px;
    }

    .reload {
      width: 20px;
      height: 20px;
      background: #5897cc;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      transform: rotate(270deg);

      .ic {
        vertical-align: 0px;
        color: white;
      }
    }
  }

  .sec_lv {
    height: 48px;
    display: flex;
    font-size: 14px;

    .clear_all {
      width: 92px;
      background: #333333;
      color: white;
      text-align: center;
      line-height: 48px;
    }

    .total_bet {
      flex: 1;
      color: #000000;
      background: #f4f4f4;
      line-height: 48px;
      padding-left: 10px;
    }
  }

  .bet_lv {
    background: #e2e2e2;
    padding: 8px;
    align-items: center;
    display: flex;
    > div {
      margin-left: 12px;
      position: relative;
      .enter-amount {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        // transform: translate(-50%, -50%);
        // font-size: 18px;
        // font-family: 'Ionicons';
        // font-weight: bold;
        // color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        pointer-events: none;
        &.max {
          > div {
            width: 10px;
          }
        }
        &.max2 {
          > div {
            width: 8px;
          }
        }
        > div {
          width: 11px;
          background: url("/public/images/niuniu/footer/num0.png") left top no-repeat;
          background-size: 100%;

          &::before {
            content: "";
            display: block;
            width: 100%;
            aspect-ratio: 0.65;
          }

          @for $i from 0 through 9 {
            &.num#{$i} {
              background-image: url("/public/images/niuniu/footer/num#{$i}.png");
            }
          }
          &.numq {
            background-image: url("/public/images/niuniu/footer/numq.png");
          }
        }
        &.sel {
          z-index: 99;
          transform: translateY(-4px);
        }
      }
      &.active::before {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .bet_amount_btn {
      border: 10px;
      color: white;
      &:nth-child(1) {
        margin-left: 0;
      }
      &.sel {
        box-shadow: 0 0 0 5px #fff;
        border-radius: 100%;
        transform: translateY(-4px);
      }
    }

    svg {
      max-height: 60px;
      max-width: 60px;
    }
    @media screen and (max-width: 440px) {
      svg {
        max-height: 52px;
        max-width: 52px;
      }
      > div {
        margin-left: 5px;
        .enter-amount {
          > div {
            width: 9px;
          }
          &.max,
          &.max2 {
            > div {
              width: 7px;
            }
          }
        }
      }
    }

    .amount_input {
      flex: 1;
      margin-left: 10px;
      padding: 7px 7px;
      border: 0;
      font-size: 15px;
      border-radius: 5px;
      width: 100%;
      min-width: 70px;
      &::placeholder {
        color: #aaa;
      }
    }
    .block_right {
      width: 100px;
    }

    .bet_now_btn {
      position: absolute;
      bottom: 5px;
      right: 3px;
      background-color: #d34646;
      color: white;
      width: 90px;
      height: 90px;
      line-height: 90px;
      color: white;
      text-shadow: 0 2px #00000029;
      text-align: center;
      border-radius: 50%;
      box-shadow: inset 3px -3px 2px #ffffff80;
      font-size: 16px;
    }
  }

  .icon_remove {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 21px;
    transform: translate(150%, -50%);
  }
}

.baccarat-set-chip-prompt {
  input {
    height: 0.8rem;
    line-height: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 0.2rem;
  }
}
