@import "@/_theme/theme.scss";

.redpacket-rule{
    .page__background{
        background-color: $primary-color;
    }
    .content{
        position: relative;
        img{
            width: 100%;
        }
        p{
            position: absolute;
            width: 84%;
            height: 20%;
            bottom: 24%;
            z-index: 12;
            left: 8%;
            &:active{
                background-color: rgba(255, 255, 255, .2);
            }
            &.p2{
                bottom: 2%;
            }
        }
    }
}

.rule-model {
    .page__content{
        overflow-y: auto!important;
    }
    .qa{
        .box{
            padding: .2rem;
            .hd{
                height: .48rem;
                line-height: .48rem;
                font-size: .28rem;
                color: #444;
                font-weight: bold;
            }
            .bd{
                white-space: normal;
                line-height: 1.8;
                font-size: .26rem;
                margin-top: .1rem;
                color: #666;
            }
        }
    }
}