.article {
  background-color: #fff;
  border-radius: 16px;
  border: solid 3px #f6ad02;
  margin: 6px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 180px;
  &.point {
    border: solid 1px #e3e3e3;
  }
  img.flag {
    position: absolute;
    right: 15px;
    top: -3px;
    width: 36px;
  }
  img.elite {
    position: absolute;
    right: 23px;
    top: 50px;
  }
  .content-info {
    padding: 12px 16px 10px 12px;
    flex: 1;
    display: flex;
    align-items: flex-start;
    .activity {
      background-color: #62bcff;
      padding: 4px 7px 3px;
      color: #fff;
      font-size: 13px;
      border-radius: 3px;
      font-weight: 500;
      line-height: 1;
    }
    .point-sign {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .method {
      color: #77bbfd;
      font-size: 12px;
      margin-top: 2px;
    }
    .inner {
      padding: 0 16px 0px 12px;
      flex: 1;
      .title {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &.left {
          text-align: left;
        }
      }
      .content {
        font-size: 14px;
        font-weight: bold;
        background-color: transparent;
      }
      .desc {
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.2;
        color: #999;
      }
      img {
        max-width: 100%;
      }
    }
  }

  .count-info {
    display: flex;
    border-top: 1px solid #e3e3e3;
    > div {
      flex: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      img {
        margin-right: 5px;
      }
      border-left: 1px solid #e3e3e3;
      &:nth-child(1) {
        border-left: none;
      }
    }
  }
}

.search-mode .article:nth-child(1) {
  margin-top: 12px;
}
