@charset "UTF-8"; /*! onsenui - v2.10.0 - 2018-05-17 */
/*!
  Ionicons, v2.0.1
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons

  Android-style icons originally built by Google’s
  Material Design Icons: https://github.com/google/material-design-icons
  used under CC BY http://creativecommons.org/licenses/by/4.0/
  Modified icons to fit ionicon’s grid from original.
*/
@import url("./ionicons/css/ionicons.css");

ons-gesture-detector,
ons-navigator,
ons-page,
ons-tabbar {
  display: block;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

ons-action-sheet,
ons-alert-dialog,
ons-dialog,
ons-navigator,
ons-splitter,
ons-tabbar,
ons-toast {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

ons-toast {
  pointer-events: none;
}

ons-toast .toast {
  pointer-events: auto;
}

ons-tab {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

ons-action-sheet,
ons-alert-dialog,
ons-dialog,
ons-navigator,
ons-page,
ons-tabbar {
  z-index: 2;
}
ons-toast {
  z-index: 10002;
}

ons-fab,
ons-speed-dial {
  z-index: 10001;
}

ons-bottom-toolbar,
ons-toolbar:not([inline]) {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10000;
}

ons-toolbar:not([inline]) {
  top: 0;
}

ons-bottom-toolbar {
  bottom: 0;
}
