@import "@/_theme/theme.scss";


.forum_ticket_desc {

  .top_bar {
    margin: 14px;
    display: flex;
    flex-direction: row;


    .left {
      width: 52px;
      height: 52px;
      margin-left: 6px;

    }

    .center {
      flex: 1;
      margin-left: 8px;

      .lotto_title {
        font-size: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .lotto_issue {
        margin-top: 2px;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

    .right {
      display: flex;
      flex-direction: row;
      align-items: center;

      .trophy_win_ic {
        color: $primary-color;
        //vertical-align: sub;
        //line-height: 35px;
        align-self: center;
        margin-right: 6px;
        font-size: 28px;
      }

      .win_rate {
        flex: 1;
        align-self: center;

        .top {
          font-size: 18px;
          color: $primary-color;

        }

        .bottom {
          color: black;
          font-size: 12px;


        }
      }
    }
  }


  .block_lv {
    height: 5px;
    background: $divider;
  }


  .second_bar {
    margin: 14px;
    display: flex;
    flex-direction: row;

    align-items: center;

    .lotto_method {
      color: black;
      font-size: 14px;
      font-weight: bold;
      align-self: center;


    }

    .divider_vertical {

      background: $divider;
      margin-left: 10px;
      margin-right: 10px;
      height: 25px;
      width: 1px;

    }

    .ticket_desc {
      flex: 1;
      font-size: 14px;

      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  .divider_horizon {
    height: 1px;
    background: $divider;

  }

  .title_bar_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 14px;
    margin-top: 22px;
    position: relative;
    z-index: 1;

    .title_bg {
      margin-left: 10px;

      background: $primary-color;
      border-radius: 30px;
      padding: 0 12px;
      height: 26px;
      line-height: 26px;
      color: white;
      display: inline-block;

      .recommend_box_ic {
        vertical-align: baseline;
        font-size: 17px;
        margin-right: 3px;

      }

      .recommend_title {
        font-size: 16px;

      }
    }

    .bet_result {
      width: 33px;
      height: 33px;
      line-height: 33px;
      border: 1px solid #E80000;
      background: #E80000;
      text-align: center;
      border-radius: 7px;
      color: white;
      font-size: 18px;


      &.win {
        border: 1px solid #E80000;
        background: #E80000;
        color: white;

      }

      &.lose {
        background: #C9E5AD;
        border: 1px solid #008000;
        color: #008000;

      }

      &.tie {
        background: #2860F6;
        border: 1px solid #2860F6;
        color: white;

      }
    }
  }

  .recommend_area {
    margin: 7px 14px;
    margin-top: -23px;

    border-radius: 10px;
    background: #FFFBEC;
    border: 1px solid #FFF0CB;

    padding: 14px 14px;
    padding-right: 7px;



    .recommend_box {
      display: flex;
      flex-direction: row;
      padding-top: 15px;
      padding-bottom: 15px;

      .bet_content {
        flex: 1;
        text-align: start;
        font-size: 20px;
        line-height: 1.2;
        word-break: break-word;
        font-weight: bold;
      }

      .bonus {
        display: flex;
        align-items: center;
        line-height: 0.35rem;
        text-align: right;
        flex-direction: column;
        margin-left: 20px;
        font-size: 15px;

        span {
          display: block;
        }

        .unhit {
          color: #999;
          font-size: 16px;
        }

        .hit {
          color: red;
        }

        .waiting {
          color: #555;
        }

        .amount {
          color: black;
          font-size: 15px
        }
      }
    }


    .random_comment_box {
      background: white;
      right: 7px;
      border: 1px solid #F1F1F1;
      border-radius: 13px;
      padding: 5px 7px;
      vertical-align: sub !important;
      display: flex;
      align-items: center;


      .text {
        margin-left: 5px;
        font-size: 18px;
        color: #6E6E6E;

        overflow: hidden;
        text-overflow: ellipsis;

      }

    }

  }


  .reaction_box {
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    height: 45px;
    line-height: 45px;


    .button_liked {
      flex: 1;
      text-align: center;
      vertical-align: sub;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        margin-left: 7px;
        font-size: 18px;

      }
    }

    .divider_vertical {
      height: 25px;
      width: 1px;
      background: $divider;
      margin: auto;


    }

    .button_disliked {
      flex: 1;
      text-align: center;
      vertical-align: sub;
      display: flex;
      align-items: center;
      justify-content: center;


      div {
        margin-left: 7px;
        font-size: 18px;

      }

    }
  }


  .follow_panel {
    display: flex;
    flex-direction: row;
    height: 55px;


    .bet_follow_person {
      flex: 1;
      margin-left: 30px;

      .title {
        color: gray;
        font-size: 15px;
        margin-top: 7px;

      }

      .value {

        color: black;
        font-size: 17px;
      }

    }

    .bet_follow_amount {
      flex: 1;

      .title {
        margin-top: 7px;
        color: gray;
        font-size: 15px;

      }

      .value {

        color: black;
        font-size: 17px;

      }
    }

    .ticket_action_btn {
      width: 110px;
      background: $primary-color;

      text-align: center;
      line-height: 59px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;

      .icon {

      }

      svg {
      }

      div {

      }

      &.getlist {
        background: #6F97E2;
      }


      &.disable {
        background: #CCCCCC;
      }

      &.follow {
        background: #5CC7C0;
      }
    }

  }


  .history_record {
    padding-bottom: 15px;
    .title {
      font-size: 18px;
      margin-left: 18px;
      margin-top: 14px;
      margin-bottom: 3px;
      font-weight: bold;

    }

    .row {
      display: flex;
      flex-direction: row;
      padding: 8px 14px;
      height: 26px;
      line-height: 26px;
      border-bottom: 1px solid $divider;
      justify-content: space-between;

      .issue {
        font-size: 16px;
        color: black;

      }

      .draw_bet {
        margin-left: 8px;
        margin-right: 8px;
        font-size: 16px;
        font-weight: bold;
        color: #E80000;

        &.win {
          color: #E80000;

        }

        &.lose {
          color: #008000;

        }
        &.tie {
          color: #2860F6;

        }

        &.not_yet {
          color: #2860F6;
        }

      }

      .draw_open_details {
        font-size: 16px;
        color: black;
        flex: 1;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;

      }

      .result {
        width: 26px;
        height: 26px;
        line-height: 26px;
        border: 1px solid #F77E04;
        background: #FFEBD6;
        text-align: center;
        border-radius: 7px;
        color: #F77E04;
        font-weight: 700;


        &.win {
          border: 1px solid #F77E04;
          background: #FFEBD6;
          color: #F77E04;

        }

        &.lose {
          background: #C9E5AD;
          border: 1px solid #008000;
          color: #008000;

        }

        &.tie {
          background: #D8E7FF;
          border: 1px solid #2860F6;
          color: #2860F6;

        }
        &.not_yet {
          background: #DBE9FF;
          border: 1px solid #2860F6;
          color: #2860F6;
        }

      }

    }

  }

}

.follow_bet_modal {
  .modal-inner {

  }
}

.donate_owner_modal {
  .modal-inner {

  }
}
