@import "@/_theme/theme.scss";


.niuniu_countdown {

  display: flex;
  flex-direction: row;
  margin-top: 13px;
  justify-content: right;
  align-items: center;

  .issue {

    font-size: 14px;
    color: #2C3E50;
    margin-right: 12px;
  }

  .timer {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #F0C097;
    font-weight: bold;
    @media only screen and (max-width: 450px) {
      font-size: 12px;
    }
    .number {
      font-size: 20px;
      margin-left: 4px;
      margin-right: 12px;
      &.txt {
        font-size: 18px;
      }
    }
    @media only screen and (max-width: 450px) {
      .number.txt {
        font-size: 16px;
      }
    }
  }


  .clear {
    width: 26px;
    height: 26px;
    background: #c96a1a;
    text-align: center;
    line-height: 26px;
    color: white;
    border-radius: 4px;
    font-size: 14px;
  }
}