@import "@/_theme/theme.scss";
.dicePK-create-table {
  .fist {
    width: 50px;
    height: 50px;
    background: #fff;
    color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    &.active {
      animation: click 0.2s forwards;
    }
    &.question {
      background: rgba(255, 255, 255, 0.5);
      border: 1px solid #fff;
      line-height: 50px;
    }
  }
  .content {
    padding: 0 0.2rem;
    width: 90%;
    margin: auto;
  }
  .item {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    margin: auto;
    display: flex;
    //border-bottom: 1px solid #f1f1f1;
    .inline {
      margin-left: 0.2rem;
      display: flex;
      //width: 74%;
      &:nth-child(1) {
        //width: 1.2rem;
        font-size: 0.26rem;
      }
      &:nth-child(2) {
        flex: 1;
      }
    }
  }
  .fist {
    justify-content: space-around;
    div {
      width: 50px;
      height: 50px;
      background: #555;
      display: flex;
    }
  }
  .tip {
    width: 100%;
    //padding-top: 0.3rem;
    line-height: 0.4rem;
    padding: 0.2rem;
    color: #5690d5;
    box-sizing: border-box;
    p {
      margin: 0;
    }
  }
  .inputBox {
    width: 100%;
    margin: auto;
    height: 1rem;
    line-height: 1rem;
    padding: 0;
    border: none;
    .ons-icon {
      font-size: 0.4rem;
      top: 0.3rem;
      display: none;
      &.subfix {
        display: block;
      }
    }
    ons-input input {
      font-size: 0.26rem;
      padding: 0;
    }
  }
  .submit {
    width: 100%;
    text-align: center;
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-around;
    .button {
      width: 40%;
      border: 1px solid $primary-color;
      &:first-child {
        background: #fff;
        color: $primary-color;
        border: 1px solid $primary-color;
        width: 100%;
      }
    }
  }
  //.submit{
  //  width: 100%;
  //  text-align: center;
  //  margin-top: 0.4rem;
  //  .button{
  //    width: 100%;
  //  }
  //}

  .creat-info {
    box-shadow: 0 0 5px rgba(132, 132, 132, 0.32);
  }
  .round-info {
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 10px;
    .poker-group {
      background: url("/public/images/createTable/bg01.png") center no-repeat;
      background-size: cover;
      width: 100%;
      height: 4.6rem;
      //padding: 1rem 0 .35rem;
      position: relative;
      .myFist {
        justify-content: space-evenly;
        width: 50%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1rem;
        //top: 0;
        margin: auto;
        .fist {
          font-size: 0;
          width: 0.7rem;
          height: 0.7rem;
          &:nth-child(1) {
            background: url("/public/images/createTable/dice.gif") no-repeat center;
            background-size: contain;
          }
          &:nth-child(2) {
            background: url("/public/images/createTable/dice_02.gif") no-repeat center;
            background-size: contain;
          }
          &:nth-child(3) {
            background: url("/public/images/createTable/dice_03.gif") no-repeat center;
            background-size: contain;
          }
        }
      }
    }
    .pokerItem {
      display: flex;
      color: #83ffdb;
      line-height: 0.4rem;
      &:first-child {
        color: #1f1f21;
        //border-right: 1px solid #ccc;
        box-sizing: border-box;
      }
      .poker {
        display: flex;
        justify-content: center;
        margin: 0.5rem 0;
        .poker-card {
          border: 1px solid #777;
          border-radius: 3px;
          margin: 0 0.06rem;
        }
      }
    }
    .dian {
      min-width: 50%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0.9rem;
      .dianItem {
        line-height: 0.6rem;
        width: 100%;
        text-align: center;
        color: #f77e04;
        //&.dianItem-title{
        //  font-size: 0;
        //  background: url("/public/images/createTable/t3.png") center center no-repeat;
        //  background-size: 90%;
        //  width: 100px;
        //  height: 40px;
        //  margin: auto;
        //}
      }
    }
    .p30 {
      width: 33%;
      justify-content: center;
    }
  }
}
@keyframes click {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
