@import "@/_theme/theme.scss";

.follow-bet-modal {
  .alert-dialog-button {
    display: inline-block;
    width: 33%;
    font-size: 0.33rem;
  }
}
.http-chat-room-page {
  .toolbar__right {
    span {
      font-size: 0.26rem;
      padding-right: 0.2rem;
      color: #fff;
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  .chat-content {
    background: #f9f9f9;
    padding-bottom: 1rem;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: scroll;
    .bottomBtn {
      color: #ffa96e;
      width: 1rem;
      text-align: center;
      height: 1rem;
      border-radius: 50%;
      position: fixed;
      right: 8px;
      font-size: 1rem;
      line-height: 0.3rem;
      bottom: 80px;
    }
  }
  .ft {
    bottom: 0;
    position: fixed;
    width: 100%;
    background: #f1f1f1;
    border-top: 1px solid #e8e8e8;
    .action-input {
      height: 1rem;
      .left {
        text-align: center;
        span {
          display: inline-block;
          vertical-align: middle;
          margin-top: 0.14rem;
          padding: 0.1rem;
          fill: #333;
          &.disabled {
            fill: #999;
          }
          &:active {
            background-color: #ccc;
          }
        }
        .emoji-panel {
          width: 5.6rem;
          position: absolute;
          bottom: 1.2rem;
          background: #fff;
          border: 1px solid #e8e5e5;
          font-size: 0.48rem;
          left: 0.2rem;
          padding: 0.1rem 0.2rem;
          box-shadow: 1px 2px 2px #e6e3e3;
          text-align: left;
          span {
            padding: 2px 3px;
            margin-top: 0;
          }
        }
      }
      .center {
        ons-input {
          width: 100%;
          background: #fff;
          height: 0.8rem;
          margin-top: 0.1rem;
          border-radius: 0.1rem;
          input {
            height: 0.8rem;
            padding: 0.04rem 0.16rem;
          }
        }
      }
      .right {
        text-align: center;
        span {
          display: inline-block;
          margin-top: 0.2rem;
          width: 0.6rem;
          height: 0.6rem;
          fill: #f34e4e;
          &.disabled {
            fill: #666;
          }
        }

        ons-button {
          margin-top: 0.1rem;
        }
      }
    }
  }
}

.chat-content {
  .follow-bet-modal {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    .follow-bet-window {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: calc(100% - 55px);
      max-width: 460px;
      .follow-bet-title {
        width: 100%;
        display: flex;
        //height: 15%;
        padding: 0.2rem;
        font-size: 0.33rem;
        font-weight: bold;
        text-align: center;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        background: $primary-color;
        color: #fff;
        border-radius: 8px 8px 0 0;
      }
      .follow-bet-content {
        display: flex;
        width: 100%;
        //height: 60%;
        background: #fff;
        padding: 0.4rem 0.2rem;
        flex-wrap: wrap;
        justify-content: space-around;
        .follow-bet-list {
          width: 100%;
          justify-content: space-around;
          display: flex;
          padding: 0.05rem 0;
          div {
            width: 33%;
          }
        }
        .follow-bet-all-amount {
          width: 100%;
          margin-top: 0.2rem;
          justify-content: space-around;
          display: flex;
          flex-wrap: wrap;
          font-weight: bold;
          align-items: center;
          > div {
            width: 50%;
            justify-content: center;
            display: flex;
          }
          .betAmount {
            flex-wrap: wrap;
            align-items: center;
            width: 70%;
            .inputBox {
              width: 50%;
              padding: 0;
              margin: 0;
              input {
                text-align: right;
              }
            }
          }
          .allAmount {
            width: 30%;
            //justify-content: flex-end;
          }
        }
      }
      .follow-bet-btn {
        display: flex;
        width: 100%;
        padding: 0;
        background: #fff;
        border-radius: 0 0 8px 8px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid #ddd;
        position: relative;
        color: #479fdc;
        font-weight: bold;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          height: 70%;
          width: 1px;
          background: #dfdfdf;
        }
        div {
          display: flex;
          padding: 0.2rem;
          width: 50%;
          justify-content: space-around;
          align-items: center;
          box-sizing: border-box;
        }
      }
    }
  }
}

//聊天内容样式
.chat-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  .chat_msg {
    display: block;
    position: relative;
    .user-info {
      text-align: center;
      display: block;
      position: absolute;
      top: 0.1rem;
      width: 0.8rem;
      text-overflow: ellipsis;
      overflow: hidden;
      border-radius: 0.1rem;
      .systemAvatar {
        height: 0.8rem;
        width: 0.8rem;
        background: url("/public/images/HttpShareBetPage/service.png") no-repeat center;
        background-size: contain;
        border-radius: 5px;
      }
      .user-icon {
        display: block;
        font-size: 0.6rem;
        height: 0.8rem;
        width: 0.8rem;
        text-align: center;
        //background: #CCC;
        color: #fff;
        .ons-icon {
          vertical-align: -10%;
        }
      }
      .user-name {
        display: block;
        font-size: 0.24rem;
        text-align: center;
        color: #666;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-top: 0.04rem;
        word-break: break-all;
        white-space: nowrap;
      }
    }
    .message-body {
      min-height: 1.6rem;
      padding-left: 1.3rem;
      padding-right: 0.7rem;
      label.user-name {
        position: absolute;
        color: #999;
      }
      .person-share-info {
        display: inline-block;
        padding: 0;
        border-radius: 0.1rem;
        position: relative;
        color: #444;
        font-size: 0.2rem;
        margin: 0.5rem 0 0.1rem 0;
        word-break: break-all;
        width: 100%;
        text-align: center;

        span {
          padding: 0.05rem 0.2rem;
          color: #fff;
          border-radius: 10px;
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff82c6+0,ff7d5f+100 */
          background: #ff82c6; /* Old browsers */
          background: -moz-linear-gradient(left, #ff82c6 0%, #ff7d5f 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, #ff82c6 0%, #ff7d5f 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, #ff82c6 0%, #ff7d5f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
      }
      p {
        display: inline-block;
        padding: 0.2rem;
        border-radius: 0.1rem;
        border: 1px solid #e8e8e8;
        position: relative;
        color: #444;
        font-size: 0.28rem;
        background: #fff;
        text-align: left;
        margin: 0.36rem 0 0.1rem 0;
        word-break: break-all;
        &::before {
          content: "";
          width: 0;
          height: 0;
          border: 0.2rem solid;
          border-color: #e8e8e8 transparent transparent transparent;
          position: absolute;
          transform: rotate(90deg);
        }
        &::after {
          content: "";
          width: 0;
          height: 0;
          border: 0.2rem solid;
          border-color: #fff transparent transparent transparent;
          position: absolute;
          transform: rotate(90deg);
        }
        img {
          max-width: 2.4rem;
          max-height: 2.4rem;
        }
      }

      .systemMessage {
        font-weight: bold;
      }
      &.message-room-bady {
        .bet-message {
          margin-top: 0.1rem;
          .lottery-title {
            padding: 0.2rem;
            background: lighten($primary-color, 13%);
            color: #fff;
            border: 1px solid #ddd;
            border-bottom: 0;
            border-radius: 10px 10px 0 0;
            .lottery-logo {
              display: inline-block;
              width: 20%;
              height: 0.7rem;
              vertical-align: middle;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              &.FFC-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/ffc.png");
              }
              &.FFC3-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/ffc3.png");
              }
              &.FFC5-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/ffc5.png");
              }
              &.PK10-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/pk10.png");
              }
              &.PK3-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/pk3.png");
              }
              &.PK5-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/pk5.png");
              }
              &.LHC1-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/lhc1.png");
              }
              &.LHC3-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/lhc3.png");
              }
              &.LHC5-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/lhc5.png");
              }
              &.X51-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/x1.png");
              }
              &.X53-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/x3.png");
              }
              &.X55-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/x5.png");
              }
              &.LUCKY28-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/lucky28.png");
              }
              &.LHC-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/lhc.png");
              }
              &.XYFT-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/xyft.png");
              }
              &.AU5-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/au5.png");
              }
              &.AU10-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/au10.png");
              }
              &.CQSSC-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/cqssc.png");
              }
              &.XJSSC-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/xjssc.png");
              }
              &.TJSSC-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/tjssc.png");
              }
              &.BJPK10-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/bjpk10.png");
              }
              &.GD11X5-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/gd11x5.png");
              }
              &.XJ-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/xj.png");
              }
              &.AH11X5-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/ah11x5.png");
              }
              &.JX11X5-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/jx11x5.png");
              }
              &.JS11X5-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/js11x5.png");
              }
              &.XJ11X5-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/xj11x5.png");
              }
              &.SH11X5-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/sh11x5.png");
              }
              &.FARM-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/farm.png");
              }
              &.GD10-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/gd10.png");
              }
              &.TJ10-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/tj10.png");
              }
              &.AU8-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/au8.png");
              }
              &.BJ8-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/bj8.png");
              }
              &.BJ28-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/bj28.png");
              }
              &.AHK3-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/ahk3.png");
              }
              &.BJK3-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/bjk3.png");
              }
              &.JSK3-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/jsk3.png");
              }
              &.JXK3-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/jxk3.png");
              }
              &.GXK3-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/gxk3.png");
              }
              &.SHK3-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/shk3.png");
              }
              &.LHCMACAU-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/lhcmacau.png");
              }
              &.LHCSG-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/lhcsg.png");
              }
              &.LHCTW-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/lhctw.png");
              }
              &.HXSix-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/hxsix.png");
              }
              &.FHCFX-icon {
                background-image: url("/public/images/HttpShareBetPage/lottery/FHCFX.png");
              }
            }
            .lottery-name {
              display: inline-block;
              width: 50%;
              text-align: left;
              vertical-align: middle;
              padding-left: 0.1rem;
              box-sizing: border-box;
              font-size: 0.26rem;
              font-weight: bold;
            }
            .lottery-no {
              display: inline-block;
              width: 30%;
              text-align: right;
              vertical-align: middle;
            }
          }
          .lottery-content {
            text-align: left;
            padding: 0.2rem 0.2rem;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            .lottery-bet-list {
              padding: 0.08rem 0;
              display: flex;
              flex-wrap: wrap;
              .lottery-bet-rule {
                display: flex;
                vertical-align: middle;
                width: 100%;
                margin-bottom: 0.15rem;
              }
              .lottery-bet-ball {
                display: flex;
                vertical-align: middle;
                padding-left: 0.2rem;
                word-break: break-all;
                //word-wrap: break-word;
                flex: 4;
                flex-wrap: wrap;
                .shareBall {
                  width: 0.57rem;
                  height: 0.57rem;
                  line-height: 0.59rem;
                  text-align: center;
                  border-radius: 50%;
                  margin: 0 0.1rem 0.05rem 0;
                  color: #f77e04;
                  border: 1px solid #f77e04;
                  &.two {
                    width: 0.57rem;
                    height: 0.57rem;
                    line-height: 0.59rem;
                  }
                  &.three {
                    width: 0.85rem;
                    height: 0.45rem;
                    line-height: 0.47rem;
                    border-radius: 3px;
                  }
                  &.stars {
                    width: 0.65rem;
                    height: 0.45rem;
                    line-height: 0.53rem;
                    border-radius: 3px;
                  }
                }
              }
              .lottery-bet-maoney {
                display: flex;
                //float: right;
                flex: 1;
                vertical-align: middle;
                justify-content: flex-end;
              }
            }
            .lottery-follow-money {
              padding: 0.1rem 0;
              text-align: right;
              .oneBetAmount {
                display: inline-block;
                vertical-align: middle;
              }
              .allAmount {
                display: inline-block;
                vertical-align: middle;
                color: #000;
                //font-size: .23rem;
                font-weight: bold;
              }
            }
          }
          .lottery-btn {
            border: 1px solid #ddd;
            border-radius: 0 0 10px 10px;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              width: 1px;
              height: 0.4rem;
              background: #ddd;
            }
            div {
              width: 50%;
              display: inline-block;
              text-align: center;
              padding: 0.2rem 0;
              color: #479fdc;
              font-weight: bold;
            }
          }
        }
      }
    }
    &.left {
      .user-info {
        left: 0.2rem;
      }
      .message-body {
        &.message-room-bady {
          padding-top: 0.1rem;
          margin-top: 0.3rem;
          margin-bottom: 0.3rem;
          padding-left: 1.3rem;
          padding-right: 1.3rem;
        }
        label.user-name {
          left: 1.3rem;
          .expert {
            display: inline-block;
            width: 1.2rem;
            height: 0.3rem;
            vertical-align: middle;
            background: url("/public/images/HttpShareBetPage/pro.png") no-repeat center;
            background-size: contain;
          }
        }
        p {
          &::before {
            left: -0.4rem;
            top: 0.2rem;
          }
          &::after {
            left: -0.38rem;
            top: 0.2rem;
          }
        }
      }
    }
    &.right {
      .user-info {
        right: 0.2rem;
      }
      .message-body {
        &.message-room-bady {
          margin-top: 0.3rem;
          margin-bottom: 0.3rem;
          padding-left: 1.3rem;
          padding-right: 1.3rem;
          .person-share-info {
            margin-top: 0;
            padding-top: 0.1rem;
          }
        }
        label.user-name {
          right: 1.3rem;
          display: none;
        }
        text-align: right;
        padding-right: 1.3rem;
        padding-left: 0.7rem;
        p {
          background-color: $primary-color;
          color: #fff;
          margin-top: 0.14rem;
          border-color: $primary-color;
          &::before {
            right: -0.4rem;
            top: 0.2rem;
            transform: rotate(270deg);
            border-color: $primary-color transparent transparent transparent;
          }
          &::after {
            right: -0.38rem;
            top: 0.2rem;
            transform: rotate(270deg);
            border-color: $primary-color transparent transparent transparent;
          }
        }
      }
    }
  }
  .spliter {
    font-size: 0.24rem;
    color: #999;
    border-bottom: 0px solid #f0f0f0;
    text-align: center;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    //margin-top: 0;
    //margin-bottom: 0;
    span {
      padding: 0.02rem 0.1rem;
      background: #e1e1e1;
      border-radius: 0.06rem;
    }
  }

  .loading,
  .no-more {
    margin: 0;
    text-align: center;
    p {
      color: #999;
      font-size: 0.24rem;
      .ons-icon {
        font-size: 0.32rem;
        vertical-align: -15%;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }
    }
  }
}
