@import "../gameTable/menu.scss";

.gameTableHX {
  .hash-link {
    height: 0.4rem;
    padding-right: 6.1em;
    line-height: 0.4rem;
    display: inline-block;
    background: url("/public/images/baccarat/gameTableHX/hashCode.png") no-repeat right center;
    background-size: 1.1rem;
    text-decoration: none;
    color: #f77e04;
  }

  .win-statistic-modal {
    .statistic-content {
      box-sizing: border-box;
      .statisticScroll .statisticList {
        display: block;
        // padding: 0.1rem 0;
      }
    }

    .modal-inner {
      width: 380px;
      max-width: 80%;
    }

    .main-title {
      text-align: center;
    }
  }

  .hash-item {
    width: 100%;
    padding: 5px 20px;
    text-align: right;
  }
}

.record-status-modal {
  .modal-inner {
    top: 0 !important;
  }
}
