@import "../gameTable/style.scss";

.baccarat-gameTable .page__content .game-table .top .count-down {
  left: 0;
  right: 0;
  width: 2rem;
  margin: 0 auto;
}

.hx-baccarat {
  .poker-card .card-face.card-back {
    background: none;
  }
}

.hx-baccarat.round-detail-modal .modal-inner .round-info .item .poker .poker-card {
  border: 0px;
  background: none;
}
// 控制開牌動畫用，註解掉就恢復動畫
.box.zhuang,
.box.xian {
  .pokers .poker-card {
    transition-duration: 0s;

    .card-container {
      transform: rotateY(180deg);
    }

    .card-face.card-back {
      transform: rotateY(180deg);
    }

    &.poker-0,
    &.poker-1,
    &.poker-2 {
      transition: none 0s;
    }
  }
}
