@import "@/_theme/theme.scss";
.site-set {
  font-size: 0.26rem;

  .content {
    padding: 0 0.2rem;
    .setItem {
      width: 100%;
      display: flex;
      border-bottom: 1px solid #f1f1f1;
      height: 1rem;
      line-height: 1rem;
      span {
        padding-left: 0.2rem;
        width: 47%;
        &:nth-child(1) {
          width: 1.3rem;
        }
        &:nth-child(2) {
          text-align: right;
          padding-left: 0;
          flex: 1;
        }
      }
      .select-input,
      .select-input--material {
        vertical-align: middle;
        font-size: 0.26rem;
        height: 0.94rem;
        background-size: auto, 100% 0;
      }

      ons-switch {
        vertical-align: middle;
        min-width: 1.2rem;
        width: 1.2rem;
        height: 0.6rem;
        line-height: 0.2rem;
      }
      .switch__toggle {
        &:before {
          content: "关";
          height: 0.24rem;
          width: 0.24rem;
          color: #1f1f2e;
          font-size: 0.24rem;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0.2rem;
          margin: auto;
        }
      }
      :checked + .switch__toggle > .switch__handle {
        left: 0.62rem;
        top: 1px;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.25);
      }
      :checked + .switch__toggle {
        box-shadow: inset 0 0 0 2px $primary-color;
        background-color: $primary-color;
        &:before {
          content: "开";
          color: #fff;
          font-size: 0.24rem;
          right: auto;
          left: 0.2rem;
        }
      }
    }
    .quick-money {
      height: auto;
      span {
        width: 30%;
      }
      .inputBox {
        margin: 0;
        line-height: 1rem;
        flex: 1;
        padding-right: 0;
        border-bottom: none;
        .ons-icon {
          display: none;
        }
        ons-input input {
          text-align: right;
        }
      }
      .moneys {
        @apply grid grid-cols-4 gap-0.5 p-0.5;
        input {
          @apply border-0 bg-[#F7F7F7] px-0.5 py-[10px] rounded-sm text-[#F77E04] text-center;
        }
      }
    }
  }
  .submit {
    width: 100%;
    text-align: center;
    margin-top: 0.4rem;
    .button {
      width: 100%;
    }
  }
}
