$gap: 10px;
.shop-classes {
  .page__background {
    background-color: #f1f1f1;
  }

  .classes {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap;
    padding: $gap;
    .item {
      .classimg {
        width: 100%;
      }
      .title {
        font-size: 12px;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: calc(50vw - 20px);
        margin: 0 auto;
        width: 269px;
      }
      .desc {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; 
        width: 290px;
        max-width: calc(50vw - 10px);
        text-align: center;
      }
    }
    
  }

  .shop-banner {
    padding: 10px 10px 0 10px;
    background-color: #fff;
    img {
      border-radius: 10px;
      width: 100%;
    }
  }
  
  .classes-gap-line {
    display: flex;
    align-items: center;
    padding: 20px 10px 13px 10px;
    .line {
      background-color: #ccc;
      height: 1px;
      flex: 1;
    }
    .middle {
      padding: 0 10px;
      .ons-icon {
        color: red;
        margin: 0 10px;
      }
    }
  }
}
