@import "@/_theme/theme.scss";
@import "../common.scss";

.orderpost-self {
  .bg-theme-half {
    @include bg-toBottom($primary-color, #f1f1f1, 50%);
    @apply pt-0.5;
  }
  .items {
    &.hidden {
      display: none;
    }
    height: calc(100% - 30px);
    background-color: #f4f5f9;
    overflow-y: auto;
    padding: 15px;
    .item {
      padding: 10px 15px 10px;
      background-color: #fff;
      border-radius: 10px;
      margin-top: 15px;
      &:nth-child(1) {
        margin-top: 0;
      }
      img {
        width: 16px;
        margin-right: 10px;
      }
      &:nth-child(1) {
        margin-top: 0;
      }
      > div {
        margin: 8px 0;
        display: flex;
        align-items: center;
        .title {
          min-width: 40px;
          font-size: 14px;
          margin-right: 10px;
        }
        .content {
          flex: 1;
          font-size: 14px;
        }
      }
    }
  }
  .no-data {
    height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.upload-frame {
  @apply rounded-[6px];
  background-color: #fff;
  width: 321px;
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
  color: #333;
  .title {
    @apply font-medium;
    font-size: 16px;
    padding: 10px;
    background-color: #f77e04;
    color: #fff;
    border-radius: 6px 6px 0 0;
  }
  .content {
    padding: 20px;
    font-size: 14px;
    // img {
    //   max-width: 80%;
    //   margin: 0 auto;
    //   aspect-ratio: 1/1;
    //   object-fit: cover;
    // }
  }

  .uploadLabel {
    color: #fff;
    font-size: 24px;
    // width: 150px;
    // height: 150px;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    border: 1px dashed rgba(166, 179, 214, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    img {
      pointer-events: none;
    }
  }
  .btns {
    @apply pt-0 px-[12px] pb-[12px] grid gap-[10px] font-normal;
    grid-template-columns: repeat(2, 1fr);

    > div {
      width: 100%;
      padding: 11px 0;
      font-size: 16px;
      background-color: #f77e04;
      color: #fff;
      border-radius: 5px;
      &:nth-child(1) {
        border: 1px solid #f77e04;
        color: #f77e04;
        background-color: #fff;
      }
    }
  }
  #uploadBtn {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .desc {
    @apply font-normal text-center;
    font-size: 14px;
    color: #aeaeae;
    white-space: normal;
  }
  .previews {
    @apply my-[20px];
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    .remove-icon {
      position: absolute;
      right: 0;
      top: 0;
      background-color: #000;
      color: #fff;
      border-radius: 100%;
      padding: 4px 5px 3px 6px;
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #fff;
      box-shadow: 0 0 4px #000;
      z-index: 100;
    }
  }
}

// .toast.toast--middle {
//   bottom: 50%;
//   left: 50%;
//   right: auto;
//   transform: translate(-50%, 50%);
//   max-width: 80%;
//   z-index: 10002;
//   text-align: center;
//   .toast__message {
//     margin: 0;
//     font-size: 18px;
//     text-align: center;
//   }
// }
