.pendpay-inner {
  height: 100%;
  background-color: #f1f1f1;
  color: #333;
  text-align: left;
}
.pendpay-content {
  // height: calc(100vh - 44px);
  padding: 10px 0 20px;
  box-sizing: border-box;
  background-color: #f1f1f1;
  // overflow-y: auto;
  hr {
    border-color: #f4f5f9;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 15px;
  }
  .sub-title {
    @apply ml-[5%] border-l-2 border-solid  border-l-theme border-y-0 border-r-0 pl-0.5 mb-1 font-bold text-1.125;
  }

  .argue {
    display: flex;
    align-items: center;
    margin-right: 15px;
    img {
      width: 17px;
      margin-right: 3px;
    }
    div {
      font-size: 14px;
      color: #465066;
    }
  }

  .sub-content {
    @apply px-1;
    img {
      max-width: 100%;
    }
    .col-title {
      @apply mr-1 whitespace-nowrap;
      font-size: 14px;
    }
    .column {
      display: flex;
      align-items: center;
      img.icon {
        width: 16px;
        margin-right: 10px;
      }

      .col-content {
        color: #898989;
        font-size: 14px;
        word-break: break-all;
        &.status {
          &--1 {
            color: #aaa;
          }

          &-0 {
            color: #59c04c;
          }

          &-1,
          &-2,
          &-3 {
            color: #ff0000;
          }
        }
        &.nowrap {
          position: relative;
          min-height: 25px;
          > div {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: flex;
            align-items: center;
          }
        }
      }
      button {
        border: 1px solid rgba(247, 126, 4, 1);
        border-radius: 5px;
        background-color: transparent;
        color: #f77e04;
        margin-left: 15px;
        font-size: 16px;
        padding: 0 15px;
      }
    }
  }

  .grid-items {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    @for $i from 2 through 10 {
      &.col-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }

  .btns {
    margin-top: 15px;
    color: #fff;
    &.order {
      padding: 0 20px;
      box-sizing: border-box;
    }
    > button {
      line-height: 1;
      padding: 11px 0;
      width: 100%;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      &.cancel {
        color: #fff;
        background-color: #b3babe;
      }
      &.refresh {
        background-color: #f1f1f1;
        border: 1px solid rgba(247, 126, 4, 1);
        color: #f77e04;
      }
      &.confirm {
        background-color: #f77e04;
        color: #fff;
      }
    }
  }

  &.pidorder {
    .sub-content .column {
      align-items: flex-center;
      .col-content {
        flex: 1;
        &.left-side {
          text-align: left;
        }
      }
    }
    .btns {
      > button {
        font-size: 16px;
        &:nth-child(1) {
          border: 2px solid #f77e04;
          color: #f77e04;
        }
        &:nth-child(2) {
          color: #fff;
          background-color: #f77e04;
          border: 2px solid #f77e04;
        }
      }
    }

    .btn {
      margin-top: 15px;
      > button {
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        color: #fff;
        background-color: #f77e04;
        border: 2px solid #f77e04;
      }
    }
  }

  $cardBorderColor: rgb(192, 192, 192);

  .cards {
    display: flex;

    > div {
      font-size: 16px;
      border-radius: 5px;
      padding: 9px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      font-size: 14px;
      img {
        margin-right: 5px;
      }

      &.active {
        @apply bg-[#FF9933] border-[#FF9933];
        color: #fff;
      }
    }
  }
}

.custom-toast .toast {
  bottom: 45%;
  left: calc(50% - 50px);
  width: 100px;
  .toast__message {
    text-align: center;
    margin: 0;
  }
  // transform: translateX(60px);
  // transition: transform 1s;
  // transform: translate(-50%, 50%);
  // width: fit-content;
  // left: 50%;
}

.order-post-remark .alert-dialog-content {
  @apply text-red-500;
}

// .qr-tip {
//   color: #f77e04;
//   font-size: 18px;
//   padding: 10px 35px;
//   border-radius: 50px;
//   border: 1px solid #f77e04;
//   width: fit-content;
//   margin: 0 auto;
//   font-weight: bold;
// }

.qr-content {
  margin: 15px auto 5px;
  display: table;
  position: relative;
  padding: 10px 10px 9px;
  .frame {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid #f77e04;
    &:nth-child(1) {
      left: 0;
      top: 0;
      border-right: none;
      border-bottom: none;
    }
    &:nth-child(2) {
      right: 0;
      top: 0;
      border-left: none;
      border-bottom: none;
    }
    &:nth-child(3) {
      left: 0;
      bottom: 0;
      border-right: none;
      border-top: none;
    }
    &:nth-child(4) {
      right: 0;
      bottom: 0;
      border-left: none;
      border-top: none;
    }
  }
}

.supply {
  color: #e14138;
  padding-top: 10px;
  border-top: 1px solid #eee;
  font-size: 14px;
  a {
    font-weight: bold;
    &:link {
      color: #e14138;
    }
    &:visited {
      color: #e14138;
    }
  }
  p {
    @apply m-0;
  }
}

.argue-modal .argue-frame {
  text-align: left;
  max-width: 90%;
  width: 335px;
  margin: 0 auto;
  .ag-title {
    font-size: 16px;
    background-color: #f77e04;
    color: #fff;
    border-radius: 4px 4px 0px 0px;
    padding: 9px 0;
    text-align: center;
  }
  .ag-content {
    padding: 22px 16px;
    background-color: #f4f5f9;
    border-radius: 0 0 4px 4px;
  }
  .ag-subtitle {
    font-size: 14px;
    color: #666666;
    font-weight: 400;
    margin: 20px 0 12px;
  }
  select {
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: #666;
    font-size: 14px;
  }
  textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    min-height: 120px;
    box-sizing: border-box;
  }
  .ag-btns {
    margin-top: 30px;
    display: flex;
    > div {
      &.btn {
        color: #fff;
        flex: 1;
        padding: 11px 0;
        font-size: 16px;
        text-align: center;
        background-color: #b3babe;
        border-radius: 5px;
      }
      &.confirm {
        background-color: #db6e00;
      }
    }
  }
}

.argue-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
