@import "@/_theme/theme.scss";

.repacket-daily-report-page{
    
    .loading{
        height: .6rem;
        line-height: .6rem;
        text-align: center;
        font-size: .24rem;
        color: #666;
        margin-top: .2rem;
        .ons-icon{
            font-size: .4rem;
            height: .4rem;
            width: .4rem;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            vertical-align: 0;
        }
    }
    .record-list-item{
        background-color: $background-color;
        margin: .2rem;
        padding: .1rem;
        border-radius: .1rem;
        p{
            display: block;
            margin: .1rem 0;
            color: #444;
            
            &.p1{
                font-weight: bold;
            }
            &.p2{
                color: #999;
                span{
                    display: inline-block;
                    width: 50%;
                    height: .5rem;
                    line-height: .5rem;
                    font-size: .26rem;
                    em{
                        font-weight: 500;
                        color: $primary-color;
                        font-style: normal;
                        margin-left: .1rem;
                    }
                }
            }
        }
    }
}
