<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <rule name="spa" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/web/index.html" />
                </rule>
            </rules>
        </rewrite>
        <staticContent> 
            <mimeMap fileExtension=".webp" mimeType="web/image/webp" /> 
        </staticContent> 
    </system.webServer>
</configuration>