.inputBox {
  box-sizing: border-box;
  margin: 0.3rem 0;
  border-bottom: 1px solid #eee;
  height: 0.7rem;
  line-height: 0.7rem;
  vertical-align: middle;
  position: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  .prefix,
  .subfix {
    font-size: 0.36rem;
    color: #aaa;
    position: absolute;
    left: 0.1rem;
    top: 0.18rem;
    &.subfix {
      right: 0.1rem;
      left: auto;
      color: #ccc;
      &.ion-eye,
      &.ion-eye-disabled {
        font-size: 0.4rem;
      }
    }
  }

  input {
    vertical-align: middle;
    padding: 0 0.1rem;
    font-size: 0.28rem;
    width: 100%;
    font-weight: bold;
    font-size: 0.32rem;
    line-height: 0.6rem;
    height: 100%;
    background: rgba(255, 255, 255, 0.01);
    box-sizing: border-box;
    border: 0 none;
    &::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #999;
      font-size: 0.28rem;
      font-weight: normal;
    }

    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #999;
      font-size: 0.28rem;
      font-weight: normal;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #999;
      font-size: 0.28rem;
      font-weight: normal;
    }
  }
  // &.password2 input{
  //     text-security: disc;
  //     -webkit-text-security: disc;
  // }
}
