@import "@/_theme/theme.scss";

.hx-bai-ren-niuniu {
  .bg_area {
    background: #eaa66c;
    height: 100%;
    .top_bar {
      .intro {
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 14px;
        padding-top: 15px;
        font-size: 12px;
        color: #fff;
        .intro_ic {
          background: url("/public/images/niuniu/home/quest.png") no-repeat center;
          background-size: contain;
          width: 20px;
          height: 20px;
          margin-right: 4px;
        }
      }
      .card {
        padding: 0;
        margin: 0;
      }

      .block {
        width: 13px;
        height: 1px;
      }
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 250px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: #fffbf8;
      border-radius: 60px 60px 0 0;
      z-index: 0;
    }

    .draw_background {
      padding: 25px 25px 170px;
      @media only screen and (max-width: 450px) {
        padding: 25px 15px 170px;
      }
      position: relative;
      .draw_bar {
        box-shadow: 0px 3px 6px 0px #000000;
        background: white;
        border-radius: 10px;
        padding: 9px 12px;
      }
      .draw_area {
        box-shadow: 0px 3px 6px 0px #00000029;
        background: white;
        border-radius: 10px;
        padding: 24px 12px;
        .first_bar {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .title {
            font-size: 16px;
            color: #000;
            font-weight: bold;
            margin-right: 8px;
            &.double {
              color: #cc7328;
            }
          }

          .limit {
            font-size: 14px;
            margin-right: 16px;
            &.red {
              color: red;
            }
          }
          .switch_area {
            display: flex;
            align-items: center;
          }
        }

        @media only screen and (max-width: 450px) {
          .first_bar {
            .title {
              font-size: 14px;
            }
            .limit {
              font-size: 12px;
              margin-right: 0px;
            }
          }
        }

        .second_bar {
          display: flex;
          flex-direction: row;
          margin-top: 13px;
          justify-content: right;
          align-items: center;

          .issue {
            font-size: 14px;
            color: #2c3e50;
            margin-right: 16px;
          }
        }

        .bet_table {
          position: relative;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          margin-top: 20px;
          height: 50vw;
          gap: 3px;

          > div {
            flex: 1;
            display: flex;
            flex-direction: column;
            // &:nth-child(odd) {
            //   display: flex;
            //   flex-direction: column;
            // }
          }

          .coin {
            position: absolute;
            border-radius: 100%;
            background-color: #333;
            pointer-events: none;
            width: 40px;
            height: 40px;
            background: no-repeat center center / cover;
            z-index: 10;
            border: 1px solid;
            // &.type1 {
            //   background-image: url("./icons/bet_5.svg");
            //   border-color:#b66d59;
            // }
            // &.type2 {
            //   background-image: url("./icons/bet_20.svg");
            //   border-color:#a1622d;
            // }
            // &.type3 {
            //   background-image: url("./icons/bet_100.svg");
            //   border-color:#832828;
            // }
            // &.type0 {
            //   background-image: url("./icons/bet_n.svg");
            //   border-color:#3f3383;
            // }
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            > div {
              width: 7px;
              background: url("/public/images/niuniu/footer/num0.png") left top no-repeat;
              background-size: 100%;
              &::before {
                content: "";
                display: block;
                width: 100%;
                aspect-ratio: 0.65;
              }
            }

            &.max > div {
              width: 6px;
            }
            &.max2 > div {
              width: 5px;
            }

            @for $i from 0 through 9 {
              > div.num#{$i} {
                background-image: url("/public/images/niuniu/footer/num#{$i}.png");
              }
            }
          }

          > div [class^="xian"],
          .zhuang {
            flex: 1;
            border: 1px solid #ccc;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            &.sel {
              border: 3px solid #e59617;
              background: #fdc160;
              color: #fff;
            }
            .ttl {
              font-weight: bold;
              font-size: 14px;
            }
            .sel_amt {
              position: absolute;
              left: 0;
              right: 0;
              width: 40px;
              height: 40px;
              color: #ebd3ff;
              background: rgba(0, 0, 0, 0.4);
              text-align: center;
              line-height: 40px;
              border-radius: 50%;
              margin: auto;
              font-weight: 700;
              font-size: 13px;
            }
          }

          $radius: 70px;

          .xian1 {
            border-top-left-radius: $radius;
          }

          .xian2 {
            border-top-right-radius: $radius;
          }

          .xian3 {
            border-bottom-left-radius: $radius;
          }

          .xian4 {
            border-bottom-right-radius: $radius;
          }

          .xian1,
          .xian2 {
            margin-bottom: 3px;
          }
        }
      }
    }
  }
  .frame-page .toolbar.inverse {
    background-color: #eaa66c;
  }
}

.LastKaiArea {
  .hx-item {
    a.hash-link {
      color: #fff;
      text-decoration: none;
    }
  }
}

.platform-pc .hx-bai-ren-niuniu .bg_area .draw_background .draw_area .bet_table {
  height: calc(600px * 0.4);
}

.instruction {
  .inner {
    display: inline-block;
  }
  img {
    max-width: 95%;
  }
  .close-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    margin-right: 35px;
    margin-bottom: 15px;
    .close-icon {
      margin-right: 5px;
      width: 10px;
      height: 10px;
      border: 1px solid #fff;
      padding: 5px;
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 100%;
        background-color: #fff;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

.cards .card {
  border-radius: 0;
}
