.msg-popup-modal {
  background-color: transparent;
  bottom: unset;
  height: unset;

  .inner {
    padding: 15px;
    @apply max-h-screen overflow-y-auto;
    .item {
      background-color: rgba(0, 0, 0, 0.8);
      @apply p-1 rounded relative mb-1;
      @apply flex items-center;
      > div.image {
        @apply w-[34px] aspect-square rounded-full;
        background: #f77e04 url("/public/assets/icons/ic_bell.svg") no-repeat center center;
        background-size: 65%;
      }
      > div.content {
        @apply flex-1 text-left pl-1 text-[14px];
      }
      > div.close {
        @apply w-[20px] aspect-square rounded-full absolute right-[2px] top-[2px] translate-x-1/2 -translate-y-1/2;
        background: rgba(255, 255, 255, 0.622) url("/public/assets/icons/ic_cross.svg") no-repeat center center;
        background-size: 50%;
      }
    }
  }
}
