@import "@/_theme/theme.scss";

.repacket-record-page{
    .page__content{
        padding-top: .84rem!important;
    }
    .toolbar__right{
        span{
            font-size: .26rem;
            padding-right: .2rem;
            color: #FFF;
        }
    }
    .filter{
        position: fixed;
        top: .88rem;
        height: .8rem;
        line-height: .8rem;
        background: #FFF;
        width: 100%;
        border-bottom: 1px solid #F1f1f1;
        padding: 0 .2rem;
        .fitem{
            width: 1.6rem;
            background: $background-color;
            height: .6rem;
            line-height: .6rem;
            margin-top: .1rem;
            border-radius: 2px;
            padding: 0 .1rem;
            font-size: .24rem;
            color: #333;
            display: inline-block;
            margin-right: .2rem;
            vertical-align: top;
            position: relative;
            .ons-icon{
                float: right;
                color: #666;
                margin-top: .12rem;
                font-size: .4rem;
            }
            &:active{
                background-color: #CCC;
            }
        }
        
        input{
            position: absolute;
            z-index: 9;
            width: 2rem;
            right: 0;
            top: 0;
            height: .6rem;
            padding: 0;
            margin: 0;
            outline: none;
            opacity: .01;
            &::-webkit-calendar-picker-indicator {
                display: inline-block;
                width: 2rem;
                height: .6rem;
                position: absolute;
                top: 0px;
                right: 0px;
                border: 0 none;
                border-radius: 0;
                box-shadow: 0 none;
                background-color: #eee;
                background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6);
                color: #666; 
              }
        }
    }
    .loading{
        height: .6rem;
        line-height: .6rem;
        text-align: center;
        font-size: .24rem;
        color: #666;
        margin-top: .2rem;
        .ons-icon{
            font-size: .4rem;
            height: .4rem;
            width: .4rem;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            vertical-align: 0;
        }
    }
    .record-list-item{
        background-color: $background-color;
        margin: .2rem;
        padding: .1rem;
        border-radius: .1rem;
        p{
            display: block;
            margin: .1rem 0;
            color: #444;
            .right{
                float: right;
                color: #999;
                &.money{
                    font-weight: bold;
                    color: $primary-color;

                }
            }
            &.p2{
                color: #999;
            }
        }
    }
}
.repacket-type-select{
    ons-action-sheet-button{
        font-size: .28rem;
    }
}