@import "@/_theme/theme.scss";
.site-nike-name {
  .content {
    padding: 0 0.4rem;
    .user-icon {
      vertical-align: middle;
      height: 0.7rem;
      line-height: 0.7rem;
      width: auto;
      display: inline-block;
    }
    .inputBox {
      @apply mt-[10px] m-0 h-[48px];
      vertical-align: middle;
      display: inline-block;
      width: calc(100% - 30px);
      padding-left: 5px;
      input {
        @apply font-normal text-[14px];
        &::placeholder {
          @apply text-[#AEAEAE];
        }
      }
    }
  }

  .submit {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    .button {
      @apply text-[16px] rounded-[6px];
      width: 100%;
    }
  }
}
