@import "@/_theme/theme.scss";
*:not(input, textarea),
*:before:not(input, textarea),
*:after:not(input, textarea) {
  -webkit-user-select: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-animation {
  0% {
    background-color: darken($background-color, 3);
  }
  50% {
    background-color: lighten($background-color, 1);
  }
  100% {
    background-color: darken($background-color, 3);
  }
}

/**适配pc打开**/
body.platform-pc {
  background-color: #fafafa;
  max-width: 600px;
  min-width: 330px;
  margin: 0 auto;
  .home-navigator-bar {
    max-width: 600px;
  }
  .record-page {
    .tabs {
      max-width: 600px;
    }
  }
  .system-message-record-item {
    .list-item__center {
      overflow: hidden;
    }
  }
  .friend-record-item {
    .list-item__center {
      overflow: hidden;
    }
  }
  .redpacket-room-page {
    .ft {
      max-width: 600px;
    }
  }
  .http-chat-room-page {
    .ft {
      max-width: 600px;
    }
  }
  .lottery-foot-module {
    max-width: 600px;
  }
}

.alert-dialog-title {
  font-weight: 700;
}
