@charset "utf-8";
$primary-color: #f77e04;
$second-color: #ff9800;
$background-color: #f1f1f1;
$contentBG-color: rgba(69, 69, 69, 1);
$contentBG-no-active-color: rgba(53, 53, 53, 1);
$marquee-color: #f1f1f1;
$button-color: #f77e04;
$button-no-active-color: rgba(37, 37, 37, 1);
$text-color: #2c3e50;
$text-no-active-color: rgba(185, 185, 185, 1);
$special-color: rgb(255, 220, 100);
$login-color: #417dbb;

$divider: #f1f1f1;

.page__content .site-home {
  .menu.top-menu {
    .btn {
      &.deposit .icon {
        background-color: #866c52;
      }
      &.withdraw .icon {
        background-color: #ff8d8d;
      }
      &.service {
        .icon {
          color: #f77e04;
          fill: #f77e04;
        }
        .am-icon {
          color: #f77e04;
          fill: #f77e04;
        }
      }
      &.sign {
        .icon {
          color: #01a9b4;
        }
      }
      &.activity {
        .icon {
          color: #e8505b;
        }
      }
    }
  }
  .content .game-list .game-item .l-box {
    background: transparent;
    border-radius: 0;
  }
}
.shop-item-record .mailInfo {
  background: #fffcf2;
}

@mixin bg-toBottom($start-color, $bg-color, $cutPercent) {
  background: linear-gradient(to bottom, $start-color $cutPercent, $bg-color $cutPercent);
}
@mixin bg-toRight($start-color, $bg-color, $cutPercent) {
  background: linear-gradient(to right, $start-color $cutPercent, $bg-color $cutPercent);
}
