@import "@/_theme/theme.scss";

.payment-manage {
  :global {
    .box {
      @apply min-h-full p-1;
      background-color: #e7e7e7;
    }

    .header {
      &.active:after {
        content: "";
        position: absolute;
        right: 0.25rem;
        top: 47%;
        width: 0;
        height: 0;
        border-left: 0.15rem solid transparent;
        border-right: 0.15rem solid transparent;
        border-top: 0.15rem solid white;
      }
      &.inactive:after {
        content: "";
        position: absolute;
        right: 0.25rem;
        top: 47%;
        width: 0;
        height: 0;
        border-left: 0.15rem solid transparent;
        border-right: 0.15rem solid transparent;
        border-bottom: 0.15rem solid white;
      }
    }
    .radio {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      width: 0.35rem;
      height: 0.35rem;
      padding: 2px;
      background-clip: content-box;
      border: 2px solid white;
      border-radius: 50%;
      margin-right: 0.15rem;
      margin-top: 0;
      margin-left: 0;
    }
  }
}
