@import "../Broadcast/style.scss";
.customer-service-msg {
  .service-icon {
    position: absolute;
    left: 0.16rem;
    top: 0.12rem;
    width: 0.36rem;
    height: 0.36rem;
    color: #f77e04;
    fill: #f77e04;
    // display: inline-block;
    background: url(/public/images/CustomerServiceMsg/service-icon.png) center center no-repeat;
    background-size: cover;
  }

  .marquee {
    .name {
      color: #f77e04;
    }

    .msg {
      color: red;
      font-weight: bold;
      // animation: breathe 1s both 4;
    }
  }
}

// @keyframes breathe {
//   0% {
//       opacity: 1;
//   }
//   50% {
//       opacity: 0;
//   }
//   100% {
//       opacity: 1;
//   }
// }
