@import "@/_theme/theme.scss";

.poker-card {
    width: .6rem;
    height: .84rem;
    perspective: 2rem;
    &.hearts, &.diamonds{
      .card-face.card-back{
        color: red;
      }
     
    }
    &.spades, &.clubs{
      .card-face.card-back{
        color: #333;
      }
    }
  
    .card-container {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform .8s;
      transform-style: preserve-3d;
      &.active {
        transform: rotateY(180deg);
      }
    }
    .card-face {
      position: absolute;
      width: 100%;
      height: 100%;
      line-height: .84rem;
      color: #fff;
      text-align: center;
      font-weight: bold;
      font-size: .24rem;
      backface-visibility: hidden;
      &.card-front {
        background-color: $primary-color;
        color: #FFF;
        border-radius: 2px;
        span{
          font-weight: bold;
          display: block;
          font-size: .24rem;
          letter-spacing: 2px;
          width: .3rem;
          color: #000;
          height: .84rem;
          text-align: center;
          line-height: .6rem;
          direction: inherit;
          writing-mode: vertical-lr;
          color: #FFF;
        }
      }
      &.card-back {
        border-radius: 2px;
        background-color: #ffffff;
        transform: rotateY(180deg);
        color: #000;
        span.num1, span.num2{
          display: block;
          height: .24rem;
          line-height: .24rem;
          font-size: .24rem;
          margin: .02rem .06rem;
        }
        span.num1{
          text-align: left;
        }
        span.shape{
          font-size: .24rem;
          line-height: .26rem;
          height: .3rem;
          overflow: visible;
          margin: 0;
          display: block;
        }
        span.num2{
          text-align: right;
        }
      }
    }
  }