@import "@/_theme/theme.scss";

.baccarat-gameTable {
  .toolbar__right {
    .btn {
      font-size: 0.26rem;
      padding-right: 0.2rem;
      color: #fff;
    }
  }
  .page__background {
    background-color: $background-color;
  }
  .page__content {
    font-size: 0.26rem;
    padding-bottom: 1rem;
    .content {
      position: relative;
      padding: 0 0.4rem;
      overflow: hidden;
      &:before {
        display: block;
        width: 16rem;
        content: "";
        background: $primary-color;
        left: 50%;
        margin-left: -8rem;
        top: -8rem;
        height: 10rem;
        border-radius: 50%;
        position: absolute;
        z-index: 0;
      }
      .userInfo {
        line-height: 0.5rem;
        height: 0.5rem;
        margin: 0.2rem 0;
        position: relative;
        color: rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: space-between;
        font-size: 0.24rem;
        span {
          b {
            color: #fff;
          }
          &:last-child {
            padding: 0px 0.16rem;
            border-radius: 1rem;
            background: rgba(255, 255, 255, 0.15);
            font-weight: bold;
          }
        }
      }
      .bet-content {
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      }
      .tableInfo-holder {
        min-height: 1.74rem;
        background-color: #fff;
        position: relative;
        &.loading {
          animation: loading-animation 1s linear infinite;
        }
      }
      .tableInfo {
        position: relative;
        padding: 0.2rem;
        background: #fff;
        line-height: 0.44rem;
        .top {
          .ons-icon {
            vertical-align: -1%;
            font-size: 0.26rem;
            margin-right: 0.12rem;
            background: $primary-color;
            width: 0.36rem;
            height: 0.36rem;
            text-align: center;
            border-radius: 50%;
            color: #fff;
            line-height: 0.4rem;
          }
          .name {
            font-size: 0.26rem;
            font-weight: normal;
            color: #666;
            b {
              color: $primary-color;
            }
          }
          span {
            white-space: nowrap;
            &:last-child {
              float: right;
              color: $primary-color;
              font-size: 0.24rem;
              font-weight: bold;
              .ons-icon {
                background: #fff;
                color: #666;
                margin-right: 0;
                vertical-align: -5%;
                font-size: 0.28rem;
              }
            }
          }
        }
        .middle,
        .bottom,
        .gradesStatistics {
          display: flex;
          flex-wrap: wrap;
          span {
            width: 50%;
            color: #666;
            white-space: nowrap;
            font-size: 0.24rem;
            b {
              color: #333;
              font-weight: normal;
            }
          }
        }
        .gradesStatistics {
          span {
            width: 33%;
          }
        }
      }
    }
    .game-table {
      color: #ccc;
      background: #009268;
      overflow: hidden;
      .top {
        display: flex;
        position: relative;
        .box {
          flex: 1;
          &:first-child {
            border-right: 1px solid #1ca47f;
          }
          .title {
            text-align: center;
            font-size: 0.32rem;
            color: #fff;
            font-weight: bold;
            margin: 0.2rem 0.6rem 0;
            text-align: right;
          }
          .pokers {
            height: 1.2rem;
          }
          &.xian .title {
            text-align: left;
          }
          &.zhuang,
          &.xian {
            position: relative;
          }
          .result {
            position: absolute;
            right: 0.4rem;
            font-size: 0.28rem;
            color: #ffffff;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);
            .dian {
              display: block;
              text-align: center;
              margin-top: 0.76rem;
              width: 51%;
              float: right;
              color: rgba(255, 255, 255, 0.5);
            }
            .win-lose {
              display: block;
              text-align: center;
              margin-top: 0px;
              width: 51%;
              float: right;
              font-size: 0.4rem;
              font-weight: bold;
              color: #9edec3;
            }
          }
          &.xian {
            .result {
              .dian,
              .win-lose {
                float: left;
              }
            }
          }
        }
        .count-down {
          position: absolute;
          top: 1rem;
          left: 50%;
          width: 1.8rem;
          background: #7bbea3;
          padding: 0.04rem 0.1rem;
          border-radius: 3px;
          box-sizing: border-box;
          text-align: center;
          margin-left: -0.9rem;
          color: #006f4f;
        }
      }
      .row {
        display: flex;
        .box {
          flex: 1;
          border-right: 1px solid #1ca47f;
          box-sizing: border-box;
          .hd {
            background-color: #006f4f;
            padding: 0.02rem 0.2rem;
            font-size: 0.24rem;
            .ons-icon {
              vertical-align: 0%;
              color: #80c0a5;
            }
          }
          .bd {
            padding: 0.1rem 0;
            position: relative;
            &:active {
              background-color: darken(#009268, 3);
            }
          }
          &:last-child {
            border-color: #009268;
          }
          p {
            margin: 0;
            color: #80c0a5;
            text-align: center;
            &.name {
              font-size: 0.28rem;
              font-weight: bold;
            }
            &.odds {
              font-size: 0.24rem;
            }
          }
          .money {
            position: absolute;
            width: 0.6rem;
            height: 0.6rem;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.4);
            color: #ebd3ff;
            top: 50%;
            left: 50%;
            margin-top: -0.3rem;
            margin-left: -0.3rem;
            text-align: center;
            line-height: 0.6rem;
            font-weight: bold;
          }
        }
      }
      .quick-select {
        background-color: #fff;
        display: flex;
        padding: 0.2rem 0.1rem;
        .chip {
          height: 0.8rem;
          border-radius: 3px;
          width: 20%;
          text-align: center;
          position: relative;
          border: 1px solid #ccc;
          margin: 0 0.1rem;
          box-sizing: border-box;
          .chip-icon {
            height: 1.2rem;
            width: 1.2rem;
            margin-top: 0.1rem;
            border-radius: 50%;
          }
          .number {
            position: absolute;
            top: 50%;
            text-align: center;
            width: 100%;
            height: 0.4rem;
            margin-top: -0.2rem;
            line-height: 0.4rem;
            left: 0;
            font-size: 0.24rem;
            font-weight: bold;
            color: #333;
          }
          .edit {
            position: absolute;
            right: -0.48rem;
            top: 0.06rem;
            font-size: 0.32rem;
            color: #666;
            &:active {
              background-color: $background-color;
            }
          }
          &.on {
            background-color: $primary-color;
            border-color: $primary-color;
            .chip-icon {
              height: 1.4rem;
              width: 1.4rem;
              margin-top: 0;
              //fill: #FFF!important;
              box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
            }
            .number {
              color: #fff !important;
              font-size: 0.24rem;
            }
            // &.chip1 .chip-icon{
            //   background-color: #50b71e;
            // }
            // &.chip2 .chip-icon{
            //   background-color: #4271d0;
            // }
            // &.chip3 .chip-icon{
            //   background-color: #b71eab;
            // }
            // &.chip4 .chip-icon{
            //   background-color: #b408fb;
            // }
          }
          &.unset {
            .chip-icon {
              fill: #ccc !important;
            }
            .number {
              color: #333 !important;
              text-decoration: underline;
            }
          }
        }
      }
      .bottom-buttons {
        display: flex;
        padding: 0.1rem 0 0.4rem;
        background-color: #fff;
        justify-content: space-around;
        .button {
          width: 43%;
          font-size: 0.28rem;
          text-align: center;
          &:first-child {
            color: #333;
          }
        }
      }
    }
  }
}

.baccarat-toast {
  .toast {
    width: 4rem;
    height: 0.8rem;
    top: 50%;
    margin: 0 auto;
    .toast__message {
      text-align: center;
    }
  }
}

.xian {
  .pokers {
    position: relative;
    .poker-card {
      position: absolute;
      top: 0.2rem;
      &.hidden {
        top: -10rem;
        transition: all 0.8s ease-in-out;
      }
    }
    .poker-0 {
      left: auto;
      right: 0.2rem;
      transition: all 0.8s ease-in-out;
    }
    .poker-1 {
      left: auto;
      right: 1.1rem;
      transition: all 0.8s ease-in-out;
    }
    .poker-2 {
      left: auto;
      top: -0.6rem;
      transform: rotate(-90deg);
      right: 0.3rem;
      transition: all 0.8s ease-in-out;
    }
  }
}
.zhuang {
  .pokers {
    position: relative;
    .poker-card {
      position: absolute;
      top: 10px;
      &.hidden {
        top: -10rem;
        transition: all 0.8s ease-in-out;
      }
    }
    .poker-0 {
      left: 0.2rem;
      transition: all 0.8s ease-in-out;
    }
    .poker-1 {
      left: 1.1rem;
      transition: all 0.8s ease-in-out;
    }
    .poker-2 {
      top: -0.6rem;
      transform: rotate(-90deg);
      left: 0.3rem;
      transition: all 0.8s ease-in-out;
    }
  }
}

.baccarat-set-chip-prompt {
  input {
    height: 0.8rem;
    line-height: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 0.2rem;
  }
}
