@import "@/_theme/theme.scss";

.round-detail-modal {
  .fist {
    width: 50px;
    height: 50px;
    background: #fff;
    color: #fff;
    font-size: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .modal-inner {
    width: 80%;
    margin: auto;
    position: relative;
    top: 10vh;
    .round-content {
      width: 100%;
      height: 8rem;
      overflow-y: auto;
      background: url("/public/images/allBetRecord/pop_bg.png") top center no-repeat;
      background-size: cover;
    }
    .main-title {
      color: #fff;
      text-align: center;
      line-height: 0.7rem;
      font-size: 0.28rem;
      background: $primary-color;
      display: flex;
      flex-direction: column;
      padding: 0.1rem 0;

      span {
        line-height: 0.5rem;
      }
    }
    .title {
      //background: #fff;
      color: #fff;
      text-align: center;
      font-size: 0.35rem;
      font-weight: bold;
      padding: 0.2rem 0.3rem;
      justify-content: space-around;
      display: flex;
      background: rgba(0, 0, 0, 0.5);
    }
    .round-info {
      color: #000;
      display: flex;
      flex-wrap: wrap;
      padding: 0.8rem 0 0.5rem;
      justify-content: center;
      .item {
        display: flex;
        color: #666;
        line-height: 0.4rem;
        &:first-child {
          color: #1f1f21;
          //border-right: 1px solid #ccc;
          box-sizing: border-box;
        }
        .poker {
          display: flex;
          justify-content: center;
          margin: 0.1rem 0;
          .poker-card {
            border: 1px solid #777;
            border-radius: 3px;
            margin: 0 0.06rem;
          }
          .dice {
            width: 0.7rem;
            height: 0.7rem;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0 0.15rem;
          }
          .dice1 {
            background-image: url("/public/images/allBetRecord/1.png");
          }
          .dice2 {
            background-image: url("/public/images/allBetRecord/2.png");
          }
          .dice3 {
            background-image: url("/public/images/allBetRecord/3.png");
          }
          .dice4 {
            background-image: url("/public/images/allBetRecord/4.png");
          }
          .dice5 {
            background-image: url("/public/images/allBetRecord/5.png");
          }
          .dice6 {
            background-image: url("/public/images/allBetRecord/6.png");
          }
          .diceQ1 {
            background-image: url("/public/images/allBetRecord/dice.gif");
          }
          .diceQ2 {
            background-image: url("/public/images/allBetRecord/dice_02.gif");
          }
          .diceQ3 {
            background-image: url("/public/images/allBetRecord/dice_03.gif");
          }
        }
      }
      .dian {
        min-width: 50%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.9rem;
        .dianItem {
          line-height: 0.6rem;
          width: 100%;
          text-align: center;
          &.poker {
            margin-top: 0.25rem;
          }
          .profession {
            padding: 5px 20px;
            color: #fff;
            border-radius: 15px;
          }
        }
      }
      .Zdian .dianItem .profession {
        background: $primary-color;
      }
      .Xdian .dianItem .profession {
        background: #214597;
      }
      .p30 {
        width: 33%;
        justify-content: center;
      }
    }

    .round-bet {
      .page__content {
        overflow-y: auto !important;
        padding: 0;
      }
      .page,
      .page__content,
      ons-splitter,
      ons-splitter-content {
        position: relative !important;
        top: 0;
      }
      .baccarat-gameRoundBetDetail {
        .inverse {
          display: none;
        }
      }
    }
  }
  .close {
    text-align: center;
    font-size: 0.4rem;
    margin-top: 0.2rem;
    color: #fff;
  }
}
.goldenPK-history {
  .record-list-item {
    padding: 0;
    background: transparent;
  }
  .recordItem {
    display: flex;
    padding: 0;
    .tl {
      background: #009268;
      width: 1rem;
      height: 1rem;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        color: #fff;
        width: 100%;
        text-align: center;
        margin: 0.03rem 0;
        letter-spacing: 1px;
      }
    }
    .info {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 0 0.2rem;
      justify-content: center;
      .name {
        span {
          display: inline-block;
          width: 15px;
          height: 15px;
          background: #009268;
          border-radius: 50%;
          text-align: center;
          color: #fff;
          margin-right: 5px;
          vertical-align: 0.03rem;
        }
      }
      .money {
        margin-top: 0.1rem;
      }
    }
    .right {
      width: 45%;
      justify-content: space-around;
      align-items: center;
      display: flex;
      span {
        padding: 0.05rem 0.2rem;
        border-radius: 15px;
        color: #fff;
        vertical-align: 3px;
        margin-right: 0.2rem;
        line-height: 0.3rem;
      }
      .state {
        background: #999999;
      }
      .win {
        background: $primary-color;
      }
      .lose {
        background: #0576f6;
      }
    }
  }
}

@media screen and (min-width: 730px) {
  .round-detail-modal .modal-inner {
    .round-content {
      height: 10rem;
    }
    .round-info {
      padding: 1.5rem 0 0.5rem;
    }
  }
}
