@import "@/_theme/theme.scss";
.promotion-center-pop{
  &.with-tabs{
    ul{
      display: flex;
      li{
        flex: 1;
      }
    }
  }
  .record-list-item:active{
    background: darken($background-color, 5);
  }
  .record-list-item{
    background-color: #fff1e6;
    box-shadow: 0 0 3px #f67e20;
  }
  .promotion-record-item{
    .img-box{
      height: 0;
      padding-bottom: 28.35%;
      position: relative;
      .img-item{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        text-align: center;
        img{
          width: 100%;
        }
      }
      
    }
    
    .title{
      font-weight: bold;
      color: #b85e17;
      font-size: 0.28rem;
      line-height: 1.8;
    }
  }
}

