@import "@/_theme/theme.scss";

.admin-service-page {
  &-inner {
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .page__background {
    background-color: $primary-color;
    background-image: url(/public/images/signin/sign.png);
    background-size: cover;
  }

  .page-content {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;

    .fontColor {
      color: $primary-color;
    }

    .serverTitle {
      padding: 50px 0 20px;
      text-align: center;
      color: #fff;
    }

    .serverHead {
      text-align: center;
      img {
        width: 120px;
      }
    }

    .serverBtn {
      margin: 20px auto;
      width: 50%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: lighten($primary-color, 15);
      border-radius: 8px;
    }

    .serverList {
      width: 100%;
      height: 100px;
      background-color: #fff;
      border-radius: 8px;
      margin-bottom: 20px;
      padding: 0 10px;
      line-height: 100px;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;

      .top {
        width: 100%;
        height: 70px;
        line-height: 70px;
        position: relative;
      }
      img {
        vertical-align: middle;
        margin-right: 10px;
      }

      a {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        color: #fff;
        border-radius: 4px;
        background-color: $second-color;
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }

    .intro {
      line-height: 2;
      color: #fff;
      text-align: center;
      padding-bottom: 20px;
      font-size: 1.2em;

      a {
        color: #fff;
        text-decoration: underline;
      }
    }

    .bot {
      height: 30px;
      line-height: 30px;
      background-color: lighten($primary-color, 35);
      color: #4c371c;
      margin: 0 -10px;
      text-align: center;
      font-size: 12px;
    }
  }
}
