@import "@/_theme/theme.scss";

.site-findPassword {
  :global {
    .page__background {
      @apply bg-[#F5F5F5];
    }
    .top-box {
      position: relative;
      overflow: hidden;
      height: 4rem;

      &:after {
        display: block;
        width: 16rem;
        content: "";
        background: $primary-color;
        left: 50%;
        margin-left: -8rem;
        top: -8rem;
        height: 10rem;
        border-radius: 50%;
        position: absolute;
        z-index: 0;
      }
    }

    .content {
      padding: 0.4rem 0.5rem 0.3rem 0.5rem;
      margin-top: -4.2rem;
      z-index: 1;
      position: relative;

      .loginBox {
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 10px;

        &.extend {
          @apply pt-5 md:pt-14;
        }

        .subfix {
          top: 13px;
        }

        .buttonBox {
          @apply mt-[20px];
          padding: 0;

          .button {
            height: 0.8rem;
            padding: 0;
            font-size: 16px;
            line-height: 0.78rem;
          }

          &.loginBtn .button {
            color: #fff;
            background-color: $primary-color;
            width: 100%;
            text-align: center;
            font-weight: 500;
          }
        }
      }
    }
    .inputBox {
      @apply flex pl-3 pr-1 h-[48px] w-full m-0 mb-[8px];
      input {
        @apply text-[14px] font-normal;
      }
      .icon-box {
        @apply w-3;
      }
      input::placeholder {
        @apply font-light;
      }
    }

    .input-section {
      @apply flex border-0 border-b border-solid border-[#eee];
      box-sizing: border-box;
      height: 48px;
      line-height: 0.7rem;
      vertical-align: middle;
      position: relative;

      ons-icon {
        font-size: 0.36rem;
        color: #aaa;
      }
    }

    .yidun_intellisense--light .yidun_classic-container {
      bottom: auto;
    }
    .checkbox__checkmark::before {
      @apply border-[#636363];
    }
    .checkbox__checkmark::after {
      @apply top-[6px] left-[5px] border-[3px] w-[11px] h-[5px];
    }
  }
}
