@import "@/_theme/theme.scss";
.share-bet-page {
  .page__content {
    padding-bottom: 1rem !important;
  }
  .record-list-item {
    min-height: 0.72rem;
    padding: 0.1rem 0.3rem;
    .gameName {
      text-align: center;
      font-weight: bold;
      line-height: 0.5rem;
      font-size: 0.25rem;
    }
    .bet-record-item {
      padding-top: 0;
    }
    &.odd {
      background-color: $background-color;
    }
    .ball-group {
      padding: 0;
    }
    .lhc {
      padding: 0.06rem 0;
    }
    .klb {
      padding: 0.1rem 0;
    }
    .shareBtn {
      text-align: center;
      padding-bottom: 10px;
      line-height: 0.55rem;

      .btn {
        display: inline-block;
        width: 85%;
        background: rgba(246, 126, 32, 0.75);
        color: #fff;
        border-radius: 3px;
      }
    }
  }

  .no-record {
    font-size: 0.24rem;
    padding: 0.6rem 0;
    color: #ccc;
    text-align: center;
  }
  .loading {
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.24rem;
    color: #666;
    margin-top: 0.2rem;
    .ons-icon {
      font-size: 0.4rem;
      height: 0.4rem;
      width: 0.4rem;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
      vertical-align: 0;
    }
    &.end {
      padding: 0.2rem 0 1rem;
      color: #999;
    }
  }
}
