@import "@/_theme/theme.scss";

.agGameType {
  .alert-dialog-content,
  .alert-dialog-title {
    display: none;
  }
  .alert-dialog .alert-dialog-container {
    padding-top: 0;
  }
}
.game-nav {
  .box {
    //padding: 0 0.3rem;
    .hd {
      height: 0.8rem;
      line-height: 0.8rem;
      font-size: 0.28rem;
      padding: 0 0.3rem;
      background: #f1f1f1;
    }
    .bd {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      //padding: 0 0.3rem;
      .item {
        width: 100%;
        height: 1.1rem;
        text-align: left;
        line-height: 1.1rem;
        //border: 1px solid #ddd;
        border-radius: 2px;
        //margin-bottom: 0.2rem;
        font-size: 0.28rem;
        color: #444;
        //margin-right: 2%;
        //padding-left: .1rem;
        padding: 0 0.3rem;
        box-sizing: border-box;
        border-bottom: 1px solid #f1f1f1;
        &:last-child {
          border: 0;
        }
        &:active {
          background-color: $background-color;
        }

        .game-icon {
          width: 0.7rem;
          height: 0.7rem;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.3rem;
          &.lottery-icon {
            background: url("/public/images/gameNav/games/lottery.png") center no-repeat;
            background-size: 100%;
          }
          &.ag-icon {
            background: url("/public/images/gameNav/games/ag.png") center no-repeat;
            background-size: 100%;
          }
          &.ky-icon {
            background: url("/public/images/gameNav/games/ky.png") center no-repeat;
            background-size: 100%;
          }
          &.le-icon {
            background: url("/public/images/gameNav/games/leg.png") center no-repeat;
            background-size: 100%;
          }
          &.TB-icon {
            background: url("/public/images/gameNav/games/tb.png") center no-repeat;
            background-size: 100%;
          }
          &.sb-icon {
            background: url("/public/images/gameNav/games/sb.png") center no-repeat;
            background-size: 100%;
          }
          &.RED-icon {
            background: url("/public/images/gameNav/games/redpacket.png") center no-repeat;
            background-size: 100%;
          }
          &.AB-icon {
            background: url("/public/images/gameNav/games/ab.png") center no-repeat;
            background-size: 100%;
          }
          &.AE-icon {
            background: url("/public/images/gameNav/games/ae.png") center no-repeat;
            background-size: 100%;
          }
          &.BBIN2-icon {
            background: url("/public/images/gameNav/games/bbin.png") center no-repeat;
            background-size: 100%;
          }
          &.BG-icon {
            background: url("/public/images/gameNav/games/bg.png") center no-repeat;
            background-size: 100%;
          }
          &.CARD365-icon {
            background: url("/public/images/gameNav/games/card365.png") center no-repeat;
            background-size: 100%;
          }
          &.CQ9-icon {
            background: url("/public/images/gameNav/games/cq9.png") center no-repeat;
            background-size: 100%;
          }
          &.DS-icon {
            background: url("/public/images/gameNav/games/ds.png") center no-repeat;
            background-size: 100%;
          }
          &.DT-icon {
            background: url("/public/images/gameNav/games/dt.png") center no-repeat;
            background-size: 100%;
          }
          &.MG2-icon {
            background: url("/public/images/gameNav/games/mg.png") center no-repeat;
            background-size: 100%;
          }
          &.OG2-icon {
            background: url("/public/images/gameNav/games/og2.png") center no-repeat;
            background-size: 100%;
          }
          &.YL-icon {
            background: url("/public/images/gameNav/games/yl.png") center no-repeat;
            background-size: 100%;
          }
          &.ZH-icon {
            background: url("/public/images/gameNav/games/zh.png") center no-repeat;
            background-size: 100%;
          }
          &.PT-icon {
            background: url("/public/images/gameNav/games/pt.png") center no-repeat;
            background-size: 100%;
          }
          &.QT-icon {
            background: url("/public/images/gameNav/games/qt.png") center no-repeat;
            background-size: 100%;
          }
          &.M8-icon {
            background: url("/public/images/gameNav/games/m8.png") center no-repeat;
            background-size: 100%;
          }
          &.HL-icon {
            background: url("/public/images/gameNav/games/hl.png") center no-repeat;
            background-size: 100%;
          }
          &.KS-icon {
            background: url("/public/images/gameNav/games/ks.png") center no-repeat;
            background-size: 100%;
          }
          &.JDB-icon {
            background: url("/public/images/gameNav/games/jdb.png") center no-repeat;
            background-size: 100%;
          }
          &.IM-icon {
            background: url("/public/images/gameNav/games/im.png") center no-repeat;
            background-size: 100%;
          }
          &.NUI-icon {
            background: url("/public/images/gameNav/games/niuniu.png") center no-repeat;
            background-size: 100%;
          }
          &.PG-icon {
            background: url("/public/images/gameNav/games/pg.png") center no-repeat;
            background-size: 100%;
          }
          &.hxyf11x5-icon {
            background: url("/public/images/Home/lottery/hxyf11x5.png") center no-repeat;
            background-size: 100%;
          }
          &.BAOBEI-icon {
            background: url("/public/images/Home/lottery/baobei.png") center no-repeat;
            background-size: 100%;
          }
          &.SPB-icon {
            background: url("/public/images/Home/lottery/spb.png") center no-repeat;
            background-size: 100%;
          }
          &.WINGO1M-icon {
            background: url("/public/images/Home/lottery/wingo1m.png") center no-repeat;
            background-size: 100%;
          }
          &.WINGOHALFM-icon {
            background: url("/public/images/Home/lottery/wingohalfm.png") center no-repeat;
            background-size: 100%;
          }
          &.PM-icon {
            background: url("/public/images/Home/games/pm.png") center no-repeat;
            background-size: 100%;
          }
          &.BOYA-icon {
            background: url("/public/images/Home/games/boyafish.png") center no-repeat;
            background-size: 100%;
          }
          &.BOYACHESS-icon {
            background: url("/public/images/Home/games/boya.png") center no-repeat;
            background-size: 100%;
          }
          &.DB-icon {
            background: url("/public/images/Home/games/db.png") center no-repeat;
            background-size: 100%;
          }
          &.DBCardGame-icon {
            background: url("/public/images/Home/games/dbchess.png") center no-repeat;
            background-size: 100%;
          }
          &.DBGame-icon {
            background: url("/public/images/Home/games/DBSlot.png") center no-repeat;
            background-size: 100%;
          }
        }
      }
    }
  }
}
