@import "@/_theme/theme.scss";
.site-deposit-qrcode{

  .deposit-qrcode-content{
    padding: 60px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .countdown{
    font-size: 14px;
    .time{
      color: red;
    }
  }

  .amount{
    font-size: 48px;
  }

  .qrcode-area{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


    .qrcode-img{
      min-width: 150px;
      width: 60%;
      img{
        width: 100%;
        height: auto;
      }
    }
  }

  .open-app-btn{
    margin: 30px auto 0;
  }



  .deposit-notice{
    padding: 10px 0px;
    max-width: 80%;
    margin: 0 auto;
    color: red;

    &-title{
      margin-top: 10px;
      font-size: 16px;
      font-weight: bold;
    }

  }
}