.avatar {
  @apply bg-transparent;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  &.round {
    border-radius: 50%;
    font-size: 0.6em;
  }

  img {
    vertical-align: middle;
  }
  .ons-icon {
    color: #fff;
    vertical-align: 16% !important;
  }
  // .ion-person:before {
  //     transform: translateX(-9%);
  // }
  &.circle {
    img,
    .ons-icon {
      @apply rounded-full;
    }
  }
}
