@import "@/_theme/theme.scss";
.site-add-bank-card {
  .content {
    padding: 15px;
    .pay-pwd {
      margin-top: 0;
    }

    .item {
      display: flex;
      padding: 10px 0;
      border-bottom: 1px solid #f1f1f1;
      > div {
        &:nth-child(1) {
          width: 70px;
          font-size: 14px;
          color: #000;
          font-weight: 700;
        }
        &:nth-child(2) {
          flex: 1;
        }
        input {
          border: none;
          background-color: #fff;
          font-size: 14px;
          color: #f77e04 !important;
          font-weight: 700;
        }
      }

      .qrcode {
        position: relative;
        display: inline-block;
      }
    }
    .close {
      position: absolute;
      background-color: black;
      color: #fff;
      right: 0;
      top: 0;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transform: translate(100%, -25%);
      box-shadow: 0 0 10px #888;
      border: 1px solid #fff;
    }
  }

  .tip {
    width: 100%;
    letter-spacing: 1px;
    font-size: 14px;
    color: #f77e04;
    font-weight: 400;
    padding-top: 0.3rem;
    line-height: 0.44rem;
    p {
      margin: 0 0.2rem;
      letter-spacing: 1px;
    }
    span {
      &:nth-child(1) {
        color: #c30202;
      }
    }
    a {
      color: #f77e04;
      font-weight: 900;
    }
  }
  .pay-pwd {
    .ons-icon {
      left: 0.18rem;
    }
    .subfix {
      left: auto;
    }
  }
  .submit {
    width: 100%;
    text-align: center;
    margin-top: 0.4rem;
    .button {
      width: 100%;
    }
  }
  .uploadLabel {
    background-color: #f5f6fb;
    color: #fff;
    display: inline-block;
    line-height: 12px;
    font-size: 24px;
    padding: 38px 40px;
    border-radius: 5px;
    img {
      pointer-events: none;
    }
  }
  #uploadBtn {
    visibility: hidden;
    width: 100%;
  }
  .base64-img {
    width: 80px;
    position: relative;
    img {
      width: 100%;
    }
    .remove-icon {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(50%, -50%);
      background-color: #000;
      color: #fff;
      border-radius: 100%;
      padding: 6px 8px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #fff;
      box-shadow: 0 0 4px #000;
    }
  }
  .account-format {
    label {
      @apply flex items-center mr-[0.3rem] cursor-pointer;
      &::before {
        background-image: url("/public/assets/icons/ic_radio.svg");
        content: "";
        @apply block w-[14px] h-[14px] mr-0.5;
      }
    }
    input[type="radio"] {
      display: none;
    }
    input[type="radio"]:checked + label::before {
      background-image: url("/public/assets/icons/ic_radio_active.svg");
    }
  }
  .pws {
    .inputBox {
      @apply my-0 pl-0 border-none h-[0.5rem] leading-tight;
      ons-icon {
        top: 0.03rem;
      }
    }
  }
}
