@import "@/_theme/theme.scss";
.pop-code-modal {
  .modal__content {
    .modal-inner {
      background: #fff;
      color: #1f1f21;
      font-size: 0.26rem;
      margin: auto;
      border-radius: 0.1rem;
      width: 75%;
      padding: 0.2rem 0.2rem 0;
      .title {
        width: 100%;
        height: 0.6rem;
        line-height: 0.6rem;
        color: #1f1f21;
        font-weight: bold;
      }
      .content {
        display: flex;
        padding: 0.2rem;
        justify-content: center;
        .inline {
          display: flex;
          align-items: center;
          &:nth-child(1) {
            width: 0.94rem;
          }
          &:nth-child(2) {
            width: 2rem;
          }
          .inputBox {
            width: 100%;
            margin: 0;
            border: none;
            line-height: 0.68rem;
            padding: 0;
            ons-input input {
              font-size: 0.26rem;
              padding: 0;
            }
            ons-icon {
              top: 0.16rem;
              right: -0.1rem;
            }
          }
        }
      }
      .bottom {
        width: 100%;
        display: flex;
        border-top: 1px solid #f1f1f1;
        > div {
          width: 50%;
          height: 0.8rem;
          line-height: 0.8rem;
          text-align: center;
          &:first-child {
            border-right: 1px solid #f1f1f1;
          }
          &.btn {
            color: $primary-color;
          }
        }
      }
    }
  }
}

.baccarat-home {
  .broadcast-module {
    margin-bottom: 0.1rem;
    border-bottom: 0.1rem solid #f1f1f1;
  }
  .record-list-item {
    background-color: $background-color;
    margin: 0.2rem !important;
    padding: 0.1rem 0.2rem !important;
    @apply break-all whitespace-normal rounded-[5px] max-w-[calc(100%-0.4rem)];
    &:active {
      background-color: $background-color;
    }
    .left {
      div {
        @apply min-w-4 min-h-4 leading-none flex flex-col justify-center;
        text-align: center;
        border-radius: 0.1rem;
        background-color: #009268;
        color: #fff;
        position: relative;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2) inset;
        &::before {
          content: "庄 闲";
          position: absolute;
          font-size: 0.24rem;
          color: #02825d;
          line-height: 0.28rem;
          width: 0.88rem;
          left: 0.12rem;
          text-align: center;
          letter-spacing: 0.1rem;
          top: 0.24rem;
          z-index: 0;
        }
        span {
          @apply relative block z-10;
          &.table-id {
            @apply leading-snug font-bold whitespace-nowrap;
          }
          &.table-name {
            @apply leading-tight;
          }
        }
      }
    }
    .center {
      div {
        display: flex;
        flex-wrap: wrap;
        span {
          width: 50%;
          line-height: 0.48rem;
          color: #666;
          b {
            color: #333;
            font-weight: 500;
          }
          .ons-icon {
            vertical-align: -5%;
            font-size: 0.28rem;
            margin-right: 0.12rem;
            background: #009268;
            width: 0.32rem;
            height: 0.32rem;
            text-align: center;
            border-radius: 50%;
            color: #fff;
            line-height: 0.32rem;
          }
          &.name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .right {
      width: 2.3rem;
      justify-content: flex-end;
      span {
        display: inline-block;
        border-radius: 0.04rem;
        margin-right: 0.1rem;
        max-width: 0.35rem;
        text-align: center;
      }
      .vip {
        background: $primary-color;
        color: #fff;
        padding: 0.04rem 0.04rem;
      }
      .poker-time {
        background: #009268;
        color: #fff;
        padding: 0.04rem 0.03rem;
      }
    }
  }

  // 哈希百家樂
  .baccarat-hx {
    .hx-icon {
      background-image: url("/public/images/baccarat/home/baccaratHx.png");
      background-size: cover;
      &:before {
        display: none;
      }
    }

    .list-item__center {
      flex-grow: 1;
      .tableInfo-content {
        flex: 1;
        align-items: center;
        justify-content: flex-start;
        padding-top: 5px;
      }

      .game-name {
        width: 100%;
        color: #009268;
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
        padding-bottom: 5px;
      }

      .issues {
        width: 60%;

        .ons-icon {
          background: none;
          color: #666;
        }
      }

      .pot {
        width: 40%;
      }
    }
    .right {
      width: 1.5rem;
      .open-time {
        width: 100%;
        height: 42px;
        max-width: 65px;
        padding-left: 30%;
        padding-top: 3%;
        text-align: center;
        line-height: 45px;
        background: url("/public/images/baccarat/home/arrow-img.png") right center no-repeat rgba(0, 0, 0, 0);
        background-size: contain;
        box-sizing: border-box;
      }
    }
  }
}

.invite-code-dialog {
  .alert-dialog-content {
    input {
      height: 0.48rem;
      line-height: 0.48rem;
      margin: 0;
      padding: 0.04rem 0.12rem;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 3px;
      width: 3rem;
    }
  }
  .alert-dialog-footer {
    display: flex;
  }
}
