.smart-items {
  background-color: #fff;
  padding: 10px;
  height: calc(70vh - 103px);
  overflow-y: auto;
  color: #969799;
  text-align: left;
  font-size: 14px;
  .item {
    .title {
      
      font-size: 21px;
      @media only screen and (max-width: 510px) {
        font-size: 18px;
      }
      padding: 15px;
      color: #333;
      display: flex;
      align-items: center;
      .ion-ios-arrow-down {
        color: #666666;
      }

      &::before {
        content: "";
        border-radius: 50%;
        height: 8px;
        width: 8px;
        background-color: #ce1717;
        margin-right: 5px;
      }
      border-bottom: 1px solid #ddd;
    }
    

    .content {
      // transition: height .3s ease-in-out;
      // will-change: height;
      max-height: 0;
      overflow: hidden;
      // transition: max-height 0.4s;
      padding-bottom: 0;
    }

    .ons-icon {
      transition: transform 0.3s;
    }

    &:hover {
      .title {
        background-color: #EEEEEE;
        border-right: 5px solid #c06000;
        color: #000;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #ddd;
        // &::before {
        //   background-color: #ce1717;
        // }
        &:nth-child(1) {
          border-top: none;
        }
      }
    }

    &.active {
      .content {
        padding-top: 15px;
        max-height: 200vh;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        border-top: none;
      }

      

      // .ons-icon {
      //   transform: rotate(-180deg);
      // }
    }
  }
  span.center {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .redBg {
    background-color: #ff2b4f;
  }
  .whiteColor {
    color: #fff;
  }
  .redColor {
    color: #ff2b4f;
  }
  .yellowBg {
    background-color: yellow;
  }
  .blueColor {
    color: #00b0f0;
  }
  .brownColor {
    color: #e36c09;
  }

  .slider-item img {
    max-width: 100%;
  }

  .redBg.whiteColor {
    display: table;
    margin: 0 auto;
    padding: 0 9px;
  }

  @for $i from 10 to 41 {
    .size#{$i} {
      font-size: $i + px;
    }
  }

  .center {
    text-align: center;
  }
}