@import "@/_theme/theme.scss";


.donate_list_content {
  .title_bar {
    margin-top: 26px;
    margin-left: 14px;
    margin-right: 14px;
    font-size: 14px;
    color: #9F9F9F;
    margin-bottom: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div{
      display: inline-block;
    }
    .title1 {
      width: 33%;
      text-align: center;
    }

    .title2 {
      width: 28%;
      text-align: center;
    }

    .title3 {
      width: 36%;
      text-align: center;
    }
  }

  .list {
    margin-left: 14px;
    margin-right: 14px;
    overflow-y: scroll;
    .row {
      padding: 9px 0;
      border-bottom: 1px solid $divider;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .member_name {
        width: 33%;
        display: inline-block;
        font-size: 16px;
        color: black;    text-align: left;

      }

      .member_price {
        display: inline-block;
        width: 28%;
        font-size: 15px;
        color: #E80000;    text-align: center;

      }

      .member_time {
        display: inline-block;
        width: 36%;
        font-size: 13px;
        color: #9F9F9F;
        text-align: right;

      }
    }
  }

}