@import "@/_theme/theme.scss";

.follow_bet_modal,
.donate_owner_modal {
  .modal-inner {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding: 16px;
    color: black;
    width: 320px;
    margin: auto;
    .lotto_title_method {
      color: #6e6e6e;
      font-size: 16px;
    }

    .issue {
      color: #000000;
      font-size: 15px;
    }
    .recommend_box {
      background: #fffbec;
      margin-top: 15px;
      border: 1px solid #fff0cb;
      border-radius: 4px;
      padding: 14px;
      padding-bottom: 10px;

      .total {
        color: #5cc7c0;
        font-size: 14px;
        margin-top: 10px;
      }

      .recommend_bet {
        font-size: 24px;
        color: $primary-color;
        font-weight: bold;
        word-break: break-word;
        margin-bottom: 15px;
        white-space: normal;
      }

      .betting_area {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 50px;
        height: 33px;
        display: flex;
        padding: 3px 22px 3px 3px;
        .title_shape {
          font-size: 14px;
          background: #5cc7c0;
          border-radius: inherit;
          padding-left: 10px;
          padding-right: 12px;
          color: white;
          display: flex;
          align-items: center;

          .title_ic {
            margin-right: 5px;
            font-size: 16px;
          }

          .title {
            white-space: nowrap;
          }
        }

        input {
          background: none;
          border: none;
          font-size: 14px;
          text-align: right;
          flex: 1;
          width: 100%;
        }
      }
    }
    .bottom_bar {
      display: flex;
      justify-content: center;
      margin-top: 17px;
      margin-bottom: 4px;

      .confirm-btn {
        width: 120px;
        background: #e78432;
      }

      .divider_vertical {
        height: 32px;
        background: $divider;
        margin-left: 25px;
        margin-right: 25px;
      }

      .cancel-btn {
        width: 120px;
        background: #9f9f9f;
      }
    }
  }
}
