@import "@/_theme/theme.scss";

.interaction-redPacketCenter.with-tabs {
  .tabs ul {
    display: flex;

    li {
      flex: 1;
    }
  }
}

.red-packet-detail {
  line-height: .4rem;
  color: #666;

  .detail-item {
    .date {
      margin-bottom: .1rem;
    }
  }
}

.red-packet-receive {
  color: #666;
  line-height: .4rem;

  .date {
    margin-bottom: .1rem;
  }
}

.red-packet-record-item {
  margin: .2rem;
  padding: .1rem .2rem;
  border-radius: 5px;
  line-height: .4rem;
  background-color: #f1f1f1;
  &.flex {
    
    display: flex;
    min-height: 347px;
    flex-direction: column;
  }
  .item {
    color: #666;

    &.title {
      color: #383737;
      margin-bottom: .1rem;

      .clickBtn {
        float: right;
        text-decoration: underline;
      }
    }
  }

  .main-content {
    flex: 1;
  }

  .receive {
    width: 100%;
    color: #fff;
    background: $primary-color;
    text-align: center;
    margin: .2rem 0;
    border-radius: .1rem;
    padding: .12rem 0;
  }


  .bd{
    img{
      width: 100%;
    }
    .mainTitle{
      font-size: .35rem;
      color: #f54;
    }
    .subTitle{
      list-style-type: circle;
      font-size: .3rem;
      text-indent: .15rem;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        background: red;
        left: 0;
        top: .21rem;
      }
    }
    .line{
      height: 1px;
      background-color: #ddd;
      margin: 5px 0;
    }
    .active a{
      border: 1px solid #ccc;
      padding: 4px 5px;
      border-radius: 2px;
      text-decoration: none;
    }
  }
}

// .hard .yidun_panel {
//   bottom: -140px !important;
// }


.loaded {
  .red-packet-record-item.puzzle {
    min-height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .yidun--icon_point, .yidun--point, .yidun--float {
    .yidun_control {
      margin-top: 200px !important;
    }
    &.yidun--button, &.yidun--loadfail {
      .yidun_control {
        margin-top: 0px !important;
      }
    }
  }
}
