@import "@/_theme/theme.scss";

.orderpost-list {
  :global {
    @import "../common.scss";
    .Dropdown-control {
      border: 0;
    }
    .Dropdown-menu {
      max-height: none;
    }
    .page__content {
      display: flex;
      flex-direction: column;
      background-color: #f1f1f1 !important;
      .loading {
        text-align: center;
        padding: 15px 0;
        .ons-icon {
          animation: spin 1s linear infinite;
          font-size: 21px;
        }
      }
      .drop-menu.price {
        width: auto;
        left: auto;
        right: 0;
        .drop-item > div {
          width: 1.9rem;
        }
      }
      .bg-theme-half {
        @include bg-toBottom($primary-color, #f1f1f1, 50%);
      }
      .item-bg {
        @include bg-toRight(#ffc081, #ffffff, 1.5%);
      }
    }

    .order-items {
      flex: 1;
      position: relative;
      .inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-y: auto;
        &.no-data {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        // &::after {
        //   content: '';
        //   display: block;
        //   height: 200vh;
        // }
      }
      div.item {
        font-size: 14px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eee;
      }
    }
  }
}
