@import "@/_theme/theme.scss";


.niuniu-betdraw-area {
  box-shadow: 0px 3px 6px 0px #00000029;
  background: white;
  border-radius: 10px;
  padding: 9px 12px;
  .draw_tab {
    display: flex;
    .draw_tab_item {
      flex: 1;
      text-align: center;
      padding-bottom: 3px;
      padding-top: 3px;
      font-size: 15px;
      font-weight: bold;
      color: #B4B4B4;
      justify-content: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      &.active {
        color: #000;
      }
      .ic {

        margin: 0;
        padding: 0;
      }
    }
  }

  .divider_horizon {
    height: 2px;
    width: 100%;
    background: $divider;
    margin: 5px 0 15px;

  }

  .more{

    text-align: center;
    color: #9F9F9F;
  }
  .no-record{
    text-align: center;
    color: #9F9F9F;

  }

  .bet-item {
    border-bottom: 1px solid #dfdfdf;
    padding: 3px 5px;
    display: flex;
    align-items: center;
    .title {
      font-weight: bold;
      font-size: 15px;
    }
    .content {
      text-indent: 1em;
    }
    .cards {
      flex: 1;
      display: flex;
      padding: 5px;
      justify-content: center;
      > .card {
        padding: 0;
        margin: 0 3px 0 0;
      }
    }
  }
}