@import "@/_theme/theme.scss";
.site-register {
  .toolbar {
    height: 45px;
  }
  .top-box {
    position: relative;
    overflow: hidden;
    height: 2rem;
    &:after {
      display: block;
      width: 16rem;
      content: "";
      background: $primary-color;
      left: 50%;
      margin-left: -8rem;
      top: -8rem;
      height: 10rem;
      border-radius: 50%;
      position: absolute;
      z-index: 0;
    }
  }
  .content {
    padding: 0.4rem 0.5rem;
    margin-top: -2.2rem;
    z-index: 1;
    position: relative;
    .register-box {
      background-color: #fff;
      -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      padding: 0.2rem 0.3rem;
      border-radius: 0.1rem;
    }
    .register-input {
      background: #fff;
      padding: 0 0.3rem;
    }
    .register-buttons {
      padding: 0.2rem 0.3rem 0.3rem;
      background-color: #fff;

      .hide {
        display: none;
      }
      .button {
        width: 100%;
        text-align: center;
        font-weight: 500;
      }
      .yidun_intelli-tips {
        .yidun_intelli-text {
          display: none;
        }
        &::after {
          content: "点击完成验证，注册";
          display: inline-block;
          line-height: 0.76rem;
        }
      }
    }
  }
}

.banner-frame {
  padding: 0.6rem 0.5rem 0.4rem;
  display: block;
  .banner {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}
