@import "@/_theme/theme.scss";
.chase-module {
  @apply fixed bottom-0 top-[20px] md:top-[100px] w-full max-w-[600px] z-[10002] flex flex-col;
  .title {
    background-color: $primary-color;
    @apply text-white h-[40px] rounded-t-sm flex items-center;
    > div {
      @apply min-w-[45px] text-center;
      &.text {
        @apply flex-1;
        font-size: 17px;
      }
    }
    .ons-icon {
      font-size: 32px;
      &.ion-close {
        font-size: 21px;
      }
    }
  }
  .confirm-btn {
    font-size: 16px;
    @apply text-white rounded-sm text-center py-[9px] bg-theme;
    &:active {
      background-color: darken($primary-color, 20%);
    }
  }

  .chase-confirm-body {
    @apply bg-gray-200;
    .item-list {
      @apply overflow-auto flex-1;
      div.list-head,
      div.list-body > div {
        @apply grid grid-cols-[1fr_1fr_2fr_3fr_2fr] text-center py-1;
      }
      div.list-body {
        @apply bg-white rounded-sm;
        > div {
          @apply border-b border-x-0 border-t-0 last:border-b-0 border-gray-100 border-solid;
          input {
            @apply max-w-[80px] mx-auto text-center border-0  select-none;
          }
        }
      }
      &.double {
        div.list-head,
        div.list-body > div {
          @apply grid grid-cols-[1fr_1fr_1fr_2fr] md:grid-cols-4 text-center py-1;
        }
        div.list-body {
          > div {
            input {
              @apply max-w-[80px] mx-auto text-center border-gray-200 border-[1px] rounded-sm select-text;
            }
          }
        }
      }
    }
    .confirm-select {
      @apply box-border appearance-none;
      select.select-input {
        @apply pl-0.5 pr-1;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAHhQTFRFAAAAsrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKyLyxzpQAAACh0Uk5TAAMTy/MZwf/uDImQgJnElY8BBKvMqafDDqoCVKwGcoawdugoegqNLihy2cYAAABpSURBVHicVY3pFkNQEIODMih6XXRRW219/zcUtJb8mMmXcyYDrDJMnGVd7BM7Iq53YF+o686BLPL/fSEhunGoeGad0KYe5iTTDO40jycQK5pXjjdXUS63FW0NKGn0r+0jbcfVD9u78YsJD50EiPIO9GMAAAAASUVORK5CYII=");
        background-position: 98% 50%;
        font-size: 14px;
        appearance: none;
        option {
          @apply leading-snug w-full hover:bg-theme hover:text-white py-1;
          &:checked {
            @apply text-theme;
          }
        }
      }
    }
    .dropdown {
      @apply flex items-center min-w-[30px];
      &:after {
        @apply border-gray-400 border-b-[3px] border-r-[3px];
      }
      .menu {
        @apply shadow-[inset_0_5px_5px_-5px_rgba(0,0,0,0.3)] bg-white pt-[5px];
        > li {
          @apply border-none rounded-none bg-transparent last:shadow-[0_5px_5px_-5px_rgba(0,0,0,0.3)];
          button {
            @apply cursor-pointer;
          }
          &:hover {
            button {
              @apply text-white bg-theme;
            }
          }
        }
      }
      .menu-button {
        &.active {
          @apply text-theme relative;
          &:before {
            content: "";
            @apply block absolute w-[5px] h-[10px] left-[8px] top-1/2 -translate-y-[7px] border-t-0 border-l-0 border-b-[1px] border-r-[1px] border-theme hover:border-white  border-solid rotate-[45deg];
          }
        }
      }
      button {
        @apply break-words pr-2;
        width: calc(100% - 30px);
      }
    }
  }

  .chase-body,
  .chase-confirm-body {
    @apply p-1 flex flex-col flex-1 overflow-auto;
  }

  .chase-body {
    @apply bg-white;
    .period-time {
      font-size: 14px;
      @apply flex justify-between items-center;
      span.num {
        background: #e14138;
        font-size: 20px;
        @apply rounded-sm text-white p-[5px] first:ml-1;
      }
    }
    .item-list {
      @apply flex-1 rounded my-1 p-0.5 overflow-auto;
      background-color: #f1f1f1;
    }
    .settings {
      font-size: 14px;

      .set {
        @apply flex justify-between items-center mb-1;

        .period-control {
          @apply border border-gray-300 active:bg-gray-100 text-gray-500 border-solid h-[30px] w-[28px] flex items-center justify-center rounded-sm mx-[2px] md:mx-0.5;
        }
        .period-input {
          @apply border border-gray-300 border-solid text-center w-[50px] h-[28px] mx-[2px] md:mx-0.5 rounded-sm;
        }
        .radio-rate {
          @apply border border-theme rounded-full w-[72px] h-[30px] text-center leading-[30px] border-solid text-theme ml-0.5;
          font-size: 14px;
          &.active {
            @apply bg-theme text-white;
          }
        }
        .profit {
          @apply border border-gray-300 h-[30px] border-solid rounded-sm flex items-center ml-0.5 md:ml-1;
          input {
            @apply text-center w-[60px] ml-0.5 h-[26px] bg-transparent rounded-none border-t-0 border-b-0 border-r-gray-300 border-r-[1px] border-y-0 border-l-0;
          }
          span {
            @apply px-1;
          }
        }
        .times {
          @apply flex items-center ml-0.5;
          .control {
            @apply border border-gray-300 active:bg-gray-100 text-gray-500 border-solid h-[30px] w-[28px] flex items-center justify-center;
            &:nth-child(1) {
              @apply rounded-l-sm;
            }
            &:nth-child(3) {
              @apply rounded-r-sm;
            }
          }
          > input {
            @apply text-center w-[60px] h-[28px] bg-transparent rounded-none border-y-gray-300 border-y-[1px] border-x-0;
          }
        }
      }
    }
  }

  .switch {
    :checked + .switch__toggle {
      @apply bg-theme;
    }

    .switch__toggle {
      @apply shadow-none rotate-180 bg-gray-300;
      > .switch__handle {
        @apply shadow-none scale-[85%];
      }
    }
  }
}

.center-toast .toast {
  left: 50%;
  top: 50%;
  bottom: auto;
  transform: translate(-50%, -50%);
  .toast__message {
    text-align: center;
  }
}
