@import "@/_theme/theme.scss";

.lottery-foot-module {
  .top {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    background: #fff;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
    position: relative;

    span {
      display: inline-block;
      padding: 0.14rem 0.2rem;
      border-radius: 0.4rem;
      background-color: #fff;
      font-weight: bold;
      margin-right: 0.2rem;
      border: 1px solid #ccc;
      color: #333;

      &:active {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &.on {
        background-color: $primary-color;
        color: #fff;
        border-color: $primary-color;
      }
    }

    .ons-icon {
      position: absolute;
      right: 0.2rem;
      font-size: 0.4rem;
      top: 0.3rem;
      color: #666;
      width: 0.5rem;
      text-align: center;

      &:active {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    .moneys {
      @apply flex-1 overflow-auto whitespace-nowrap -my-[0.2rem] -ml-[0.2rem] py-1 pl-1;
      /* width */
      &::-webkit-scrollbar {
        height: 4px; /* height of horizontal scrollbar ← You're missing this */
        width: 4px; /* width of vertical scrollbar */
        border: 1px solid #d5d5d5;
        display: block;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
        @apply rounded-full;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }

  .bottom {
    display: flex;
    height: 1rem;
    line-height: 1rem;
    background-color: #333;
    color: #fff;

    .left {
      width: 1.2rem;
      text-align: center;
      font-size: 0.32rem;
      border-right: 1px solid #666;

      &:active {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    .center {
      flex: 1;
      display: flex;

      .cl {
        width: 1.6rem;
        font-size: 0.28rem;
        padding-left: 0.1rem;
        position: relative;

        span {
          @apply text-[12px] w-full top-1/2 -translate-y-1/2 left-[5px] absolute text-[#666] z-10;
        }

        ons-input {
          width: 1.4rem;
          height: 0.6rem;
          line-height: 0.6rem;
          margin: 0;
          padding: 0;
          border: 1px solid #ccc;

          border-radius: 2px;
          color: #333;
          background-color: #fff;
          // padding-left: 0.36rem;
          @apply pl-0.5;
          box-sizing: border-box;

          input {
            outline: none;
            font-weight: bold;
            height: 0.54rem;
            line-height: 0.54rem;
            text-align: left;
            &.text-input--material {
              background: none !important;
            }
          }
        }
      }

      .cr {
        flex: 1;
        line-height: 0.32rem;
        font-size: 0.24rem;
        padding: 0.14rem 0.06rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          margin: 0;
          white-space: nowrap;
          text-overflow: ellipsis;

          &.p1 {
            font-weight: bold;
          }

          &.p2 {
            color: #999;
          }
        }
      }
    }

    .right,
    .bet,
    .chase {
      width: 1.4rem;
      text-align: center;
      font-size: 0.36rem;
      font-weight: bold;
      background-color: $primary-color;
      &:active {
        background-color: darken($primary-color, 10);
      }
    }

    .chase {
      color: $primary-color;
      background-color: #fff;
      border: 1px solid $primary-color;
      &:active {
        background-color: darken(#fff, 10);
      }
    }
  }
}

.quick-money-promot {
  input {
    height: 0.8rem;
    line-height: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.1rem;
    padding: 0 0.2rem;
  }
}
