@import "@/_theme/theme.scss";
.site-deposit-offline {
  .content {
    padding: 0.2rem;
    div {
      background-image: url("icon/right.png");
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 6%;
      background-color: #ffffff;
      margin: 0.3rem 0;
      padding: 0 0.2rem;
      &:active {
        background-color: $background-color;
      }
      img {
        max-width: 100%;
      }
    }
  }
}
