.range-slider {
  &::-webkit-slider-thumb {
    @apply appearance-none w-[16px] h-[16px]  bg-theme cursor-pointer rounded-full transition-shadow duration-200;
  }
  &.disabled::-webkit-slider-thumb {
    @apply bg-gray-300;
  }
  &::after {
    content: "";
    position: absolute;
    top: -10px;
    bottom: -15px;
    left: 0;
    right: 0;
    cursor: pointer;
  }
}

.active {
  .range-slider {
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 10px #f77e0426;
    }
  }
}
