@import "@/_theme/theme.scss";
.broadcast-module {
  background: #fff;
  height: 0.64rem;
  line-height: 0.64rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 9;
  .notice-icon {
    position: absolute;
    left: 0.16rem;
    top: 0.16rem;
    font-size: 0.36rem;
    color: #b5076b;
  }
  .subfix-icon {
    position: absolute;
    right: 0.16rem;
    top: 0.16rem;
    font-size: 0.36rem;
    color: #ccc;
  }
  .marquee {
    position: relative;
    padding-left: 0.6rem;
    font-size: 0.26rem;
    overflow: hidden;
    box-sizing: border-box;
    color: #444;
    height: 0.64rem;
    line-height: 0.64rem;
    padding-right: 0.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @apply flex items-center;
  }
  .marquee {
    .name {
      color: #b5076b;
      font-weight: bold;
    }
    .red {
      color: red;
    }
    .strong {
      font-weight: bold;
    }

    .tx-special {
    }
  }
}
