@import "@/_theme/theme.scss";

.pick-redpacket-page{
    .page__content{
        padding-top: .84rem!important;
    }
    .toolbar__right{
        span{
            font-size: .26rem;
            padding-right: .2rem;
            color: #FFF;
        }
    }
    .filter{
        position: fixed;
        top: .88rem;
        height: .8rem;
        line-height: .8rem;
        //background: #FFF;
        width: auto;
        left: 0;
        right: 0;
        //border-bottom: 1px solid #F1f1f1;
        padding: 0 .2rem;
        .fitem{
            //width: 40%;
            width: 3rem;
            background: $background-color;
            height: .6rem;
            line-height: .6rem;
            //margin-top: .1rem;
            margin: .1rem .1rem 0;
            border-radius: 2px;
            padding: 0 .1rem;
            font-size: .24rem;
            color: #333;
            display: inline-block;
            //margin-right: .2rem;
            vertical-align: top;
            position: relative;
            .ons-icon{
                float: right;
                color: #666;
                margin-top: .12rem;
                font-size: .4rem;
            }
            &:active{
                background-color: #CCC;
            }
            &.active{
                background: $primary-color;
                color: #FFF;
            }
        }
    }
    .chat-list{
        border-top: 1px solid #F1f1f1;
        .chat_msg .message-body{
            text-align: left;
        }
    }
}
