@import "@/_theme/theme.scss";

.lottery-page-module {
  .page__background {
    background-color: #ffffff;
  }

  .page__content {
    padding-bottom: 2rem;
  }

  .broadcast-module {
    border-bottom: 0.1rem solid $background-color;
  }

  .lottery-tab {
    padding: 0 0.2rem;

    .hd {
      border-top: 1px solid $background-color;
    }
  }

  .lottery-foot-module {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
  }

  .bet-content {
    border-top: 0.1rem solid $background-color;
  }
}

.bet-display {
  padding: 0.2rem;
  position: relative;

  .mode-btn {
    position: absolute;
    top: 0.4rem;
    height: 0.44rem;
    line-height: 0.44rem;
    padding: 0 0.1rem;
    background-color: $primary-color;
    color: #fff;
    border: 0 none;
    border-radius: 0.06rem;
    font-size: 0.24rem;
    z-index: 3;
  }

  &.normal {
    .mode-btn {
      right: 2.8rem;
    }
  }

  &.quick .mode-btn {
    right: 2.8rem;
  }

  .filter {
    position: absolute;
    right: 0;
    top: 0;

    span {
      font-size: 0.26rem;
      border-radius: 2px;
      padding: 0.06rem 0.1rem;
      color: #999;
      border: 1px solid #eee;
      margin-left: 0.1rem;

      &.on {
        color: #fff;
        background-color: $primary-color;
        border-color: $primary-color;
      }

      &:active {
        background-color: $background-color;
        border-color: $background-color;
      }
    }
  }

  .m-hd {
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.28rem;
    position: relative;
    color: #999;

    .title {
      display: inline-block;
      border-left: 0.06rem solid $primary-color;
      padding-left: 0.1rem;
      height: 0.28rem;
      line-height: 0.28rem;
    }
  }

  .box.row {
    display: flex;

    .hd {
      height: 0.96rem;
      line-height: 0.96rem;
      width: auto;
      text-align: center;
      padding: 0 0.4rem 0 0.5rem;
      color: #444;
    }

    .bd {
      flex: 1;
    }
  }

  .box {
    margin: 0.16rem 0 0.3rem;

    &.lhc-more {
      margin: 0;

      &:last-child {
        margin: 0.16rem 0 0.3rem;
      }
    }

    .hd {
      height: 0.56rem;
      line-height: 0.56rem;
      position: relative;
      padding-left: 0.2rem;

      .title {
        font-size: 0.28rem;
        color: #666;
        display: block;

        &.len-3 {
          min-width: 0.84rem;
        }

        &.len-2 {
          min-width: 0.56rem;
        }

        &.len-4 {
          min-width: 1.12rem;
        }

        &.len-5 {
          min-width: 1.4rem;
        }
      }
    }

    .bd {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      .item {
        height: 0.96rem;
        line-height: 0.96rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &.column-1 {
          width: 100%;
        }

        &.column-2 {
          width: 50%;
        }

        &.column-3 {
          width: 33%;
        }

        &.column-4 {
          width: 25%;
        }

        &.column-5 {
          width: 20%;
        }

        &.column-6 {
          width: 16.5%;
        }

        &.column-7 {
          width: 14%;
        }

        &.column-8 {
          width: 12.5%;
        }
      }

      //.ball {
      //  width: 0.72rem;
      //  height: 0.72rem;
      //  margin: 0 auto;
      //  border-radius: 50%;
      //  border: 1px solid #ddd;
      //  color: $primary-color;
      //  font-size: 0.3rem;
      //  font-weight: bold;
      //
      //  p {
      //    height: 0.72rem;
      //    line-height: 0.72rem;
      //    margin: 0;
      //    text-align: center;
      //  }
      //
      //  &.active {
      //    background-color: $primary-color;;
      //    color: #ffffff;
      //    border-color: $primary-color;;
      //  }
      //
      //  &.red {
      //    color: #d32626;
      //
      //    &.active {
      //      background-color: #d32626;
      //      border-color: #d32626;
      //      color: #ffffff;
      //    }
      //  }
      //
      //  &.blue {
      //    color: #3232fb;
      //
      //    &.active {
      //      background-color: #3232fb;
      //      border-color: #3232fb;
      //      color: #ffffff;
      //    }
      //  }
      //
      //  &.green {
      //    color: #26a126;
      //
      //    &.active {
      //      background-color: #26a126;
      //      border-color: #26a126;
      //      color: #ffffff;
      //    }
      //  }
      //
      //  &.rect {
      //    border-radius: 4px;
      //    height: 0.88rem;
      //    width: 88%;
      //    border-color: #ececec;
      //
      //    .p1 {
      //      height: 0.88rem;
      //      line-height: 0.88rem;
      //    }
      //
      //    &.with-odds {
      //      .p1 {
      //        height: 0.52rem;
      //        line-height: 0.52rem;
      //      }
      //
      //      .p2 {
      //        height: 0.36rem;
      //        line-height: 0.36rem;
      //        font-size: 0.24rem;
      //        color: #666;
      //        font-weight: normal;
      //        white-space: nowrap;
      //      }
      //    }
      //
      //    &.active {
      //      .p2 {
      //        color: #FFF;
      //      }
      //    }
      //  }
      //}
    }
  }
}

.bet-display .ball.refund {
  @apply relative;
  &:after {
    @apply absolute -right-0 -top-0 border border-solid border-[#E14138] rounded-[0.05rem] text-[#E14138] text-[0.22rem] w-[13px] h-[13px] flex items-center justify-center font-bold;
    content: "保";
  }
}

.tema {
  .top_bar {
    padding: 0 0.2rem;
    padding-top: 0.1rem;
    display: flex;
    flex-direction: row;

    .mode {
      border: 1px solid #dddddd;
      padding: 4px 8px;
      font-size: 10px;
      border-radius: 2px;
      color: #2c3e50;
      margin: auto;
      margin-right: 5px;

      &.active {
        border: 1px solid $primary-color;
        background: $primary-color;
        color: white;
      }
    }

    .block {
      flex: 1;
    }

    .img {
      width: 30px;
      height: 30px;
    }
  }

  .pdt0 {
    padding-top: 0 !important;
  }

  .filter_area {
    background: rgba($primary-color, 0.1);
    margin-top: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;

    .layer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &.second {
        margin-top: 2px;
      }

      .title {
        display: inline-block;
        border-left: 0.06rem solid $primary-color;
        padding-left: 0.1rem;
        font-size: 13px;
        align-self: center;
      }

      .btn {
        font-size: 14px;
        padding: 3px 5px;

        border: 1px solid #999999;
        color: #999999;
        border-radius: 2px;
        align-self: center;

        &.active {
          background: $primary-color;
          border: 1px solid $primary-color;
          color: white;
        }

        &.left {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        &.mid {
          border-radius: 0;
        }

        &.right {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }

        &.second {
          border: none;
        }
      }

      .group {
        display: inline-block;
        margin-left: 10px;
        align-items: center;
        align-self: center;
      }
    }
  }

  .bet-display .box .bd .ball p {
    height: 0.6rem;
    &.p2 {
      color: gray !important;
      font-weight: normal;
      font-size: 13px;
    }
  }
  .bet-display .item {
    margin-bottom: 15px;
  }
  .bet-display .ball.refund {
    &:after {
      @apply -right-[0.1rem] -top-[0.1rem];
    }
  }

  .type-trust {
    display: flex;
    flex-direction: row;

    .divider_horizon {
      // border-right: 1px solid #ccc;
      padding-left: 8px;
      margin-right: 3px;
    }

    .layer {
      flex: 1;

      .title {
        display: flex;
        font-weight: bold;
        color: black;
        font-size: 13px;
        justify-content: flex-start;
        margin-bottom: 5px;

        .first {
          width: 0.62rem;
          margin-left: 7px;
        }

        .second {
          margin-left: 10px;
          margin-right: 20px;
        }
      }

      .layer_bet_item {
        display: flex;
        flex-direction: row;
        text-align: center;

        .layer_bet_ball {
          width: 0.62rem;
          height: 0.62rem;
          line-height: 0.62rem;
          text-align: center;

          margin: 0 auto;
          border-radius: 50%;
          border: 1px solid #ddd;
          color: $primary-color;
          font-size: 0.3rem;
          font-weight: bold;

          &.red {
            color: #d32626;

            &.active {
              background-color: #d32626;
              border-color: #d32626;
              color: #ffffff;
            }
          }

          &.blue {
            color: #3232fb;

            &.active {
              background-color: #3232fb;
              border-color: #3232fb;
              color: #ffffff;
            }
          }

          &.green {
            color: #26a126;

            &.active {
              background-color: #26a126;
              border-color: #26a126;
              color: #ffffff;
            }
          }
        }

        .layer_bet_odds {
          width: 0.9rem;
          line-height: 0.62rem;
          color: $primary-color;
        }

        .layer_bet_amount {
          flex: 1;

          height: 0.56rem;
          line-height: 0.56rem;
          border: 1px solid #ddd;
          text-align: center;
          color: #666;
          padding-left: 5px;
          padding-right: 5px;
          background: white;

          input {
            font-size: 17px;
            border: none;
            width: 100%;
            background: transparent;
          }
        }
      }
    }
  }
}
