@import "@/_theme/theme.scss";
.interaction-suggestion {
  &.record-page.with-tabs {
    .tabs ul {
      display: flex;
      li {
        flex: 1;
      }
    }
  }
  .inverse {
    .right {
      color: #fff;
      padding-right: 0.2rem;
    }
  }
  .record-list-item {
    font-size: 0.26rem;
    background: none;
    padding: 0;
    margin: 0;
    &:active {
      background-color: $background-color;
    }
    .center {
      padding: 0.12rem 0.12rem 0.12rem 0;
      > div {
        width: 100%;
      }
    }
    p.tl {
      font-size: 0.26rem;
      width: 100%;
      color: #333;
      font-weight: bold;
      .right {
        float: right;
        font-size: 0.24rem;
        color: #666;
        .ons-icon {
          vertical-align: -10%;
          margin-right: 0.1rem;
          font-size: 0.28rem;
        }
        &.success {
          .ons-icon {
            color: green;
          }
        }
        &.warn {
          .ons-icon {
            color: #f3c623;
          }
        }
      }
    }
    p.dd {
      color: #999;
      line-height: 0.36rem;
      .ons-icon {
        height: 0.32rem;
        width: 0.32rem;
        border-radius: 50%;
        line-height: 0.32rem;
        text-align: center;
        background-color: #ccc;
        color: #fff;
        vertical-align: 0;
      }
      .right {
        text-align: right;
      }
    }
  }
}
//留言内容
.suggestion-msg-record {
  .page__background {
    background: #fff;
  }
  .inner {
    padding: 0 0.2rem;
    font-size: 0.26rem;
  }
  .suggestion-content,
  .suggestion-rep {
    padding: 5px 12px;
    margin: 10px 0;
    border-radius: 3px;
    box-sizing: border-box;
    background: #f1f1f1;
    .systemAvatar {
      display: inline-block;
      width: 25px;
      height: 25px;
      background: url("/public/images/interaction/seggestion/service.png") no-repeat center;
      background-size: contain;
      //border-radius: 5px;
      vertical-align: middle;
      border-radius: 50%;
    }
    .systemName {
      color: #e8505b;
    }
  }
  .suggestion-rep {
    .content {
      font-weight: bold;
      overflow-wrap: break-word;


      .copy-line {
        width: 100%;
        height: 35px;
        line-height: 35px;
        .copy-btn {
          //float: right;
          padding: 0.1rem 0.16rem;
          background: $primary-color;
          color: #fff;
          border-radius: 0.1rem;
          line-height: 0.3rem;
          margin: 0 12px;
          //margin-left: 12px;
        }
      }
    }
  }
  .top {
    border-bottom: 1px solid #ddd;
    padding: 0.1rem 0;

    p {
      margin: 0.06rem 0;
    }
    p.tl {
      font-size: 0.26rem;
      width: 100%;
      color: #333;
      font-weight: bold;
      .right {
        float: right;
        font-size: 0.24rem;
        color: #666;
        .ons-icon {
          vertical-align: -10%;
          margin-right: 0.1rem;
          font-size: 0.28rem;
        }
        &.success {
          .ons-icon {
            color: green;
          }
        }
        &.warn {
          .ons-icon {
            color: #f3c623;
          }
        }
      }
    }
    p.dd {
      color: #999;
      line-height: 0.36rem;
      font-size: 0.24rem;
      .ons-icon {
        height: 0.32rem;
        width: 0.32rem;
        border-radius: 50%;
        line-height: 0.32rem;
        text-align: center;
        background-color: #ccc;
        color: #fff;
        vertical-align: 0;
      }
      .right {
        text-align: right;
        float: right;
      }
    }
  }
  .content {
    white-space: normal;
    overflow-wrap: break-word;
    padding: 0.1rem 0;
    line-height: 1.8;
    font-size: 0.26rem;
    color: #333;
    p {
      margin: 0.1rem 0;
    }
  }
}
//发表留言
.sent-msg {
  .content {
    padding: 0 0.2rem;
    font-size: 0.26rem;
    .item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #f1f1f1;
      height: 1rem;
      .title {
        width: 1.1rem;
      }
      .text {
        flex: 1;
      }
      .inputBox {
        width: 100%;
        height: 100%;
        margin: 0;
        padding-left: 0;
        border-bottom: none;
        ons-input {
          input {
            font-size: 0.26rem;
          }
        }
      }
    }
    .enter-area {
      margin-top: 0.2rem;
      .title {
        height: 0.5rem;
        line-height: 0.5rem;
      }
      .textarea {
        margin-top: 0.2rem;
        width: 100%;
        min-height: 3rem;
        border-color: #f1f1f1;
        font-size: 0.26rem;
      }
    }
  }
  .submit {
    margin-top: 0.3rem;
    .button {
      width: 100%;
      text-align: center;
    }
  }
}
