---
// 引入 Tailwind CSS（正确方式）
import "../style/index.scss"
import { ClientRouter } from "astro:transitions"
---

<html lang="en" class="w-[100vw] max-w-[600px] mx-auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Overlay Slide</title>
    <ClientRouter transition:animate="fade" />
  </head>
  <body class="overflow-auto bg-[#fafafa]">
    <div class="relative w-full h-full max-w-[640px] mx-auto">
      <main class="absolute inset-0 w-full h-full">
        <slot name="header" />
        <slot />
      </main>
    </div>
  </body>
</html>