@import "@/_theme/theme.scss";

.site-withdraw {
  .item {
    min-height: 40px;
    margin: auto;
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    align-items: center;
    padding: 5px 0.25rem;
    background-color: #fff;

    > div {
      &:nth-child(1) {
        width: 70px;
        padding: 0 10px;
        font-size: 13px;

        @media screen and (max-width: 400px) {
          width: 60px;
          padding: 0 5px;
        }

        white-space: nowrap;
      }

      &:nth-child(2) {
        flex: 1;
      }

      .orderpost,
      .elsepay {
        position: relative;
      }
    }
    div.hint {
      position: absolute;
      @apply left-[-5px] top-[-9px] sm:top-[-1px];

      font-weight: lighter;
      font-size: 10px;
      background-color: #ff483b;
      color: #fff;
      padding: 0 3px;
      line-height: 15px;

      &::after {
        position: absolute;
        left: 0;
        top: 15px;
        content: "\A";
        display: block;
        border-style: solid;
        border-width: 0 5px 5px 0;
        border-color: transparent #de3232 transparent transparent;
      }
    }

    .smart-split-checkbox {
      .checkbox--material__checkmark:before {
        @apply border-theme;
      }
      :checked + .checkbox--material__checkmark:before {
        @apply bg-theme;
      }
    }

    .inline {
      // flex: 1;
      .ons-icon {
        padding: 0 8px;
        line-height: unset;
      }

      > input {
        font-size: 0.32rem;
        line-height: 0.6rem;
        width: 100%;
        box-sizing: border-box;
        font-weight: 700;
        border: 0;

        &::-webkit-input-placeholder {
          /* WebKit browsers */
          font-weight: normal;
          font-size: 0.28rem;
          color: #999;
        }

        &:-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          font-weight: normal;
          font-size: 0.28rem;
          color: #999;
        }

        &::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          font-weight: normal;
          font-size: 0.28rem;
          color: #999;
        }

        &:-ms-input-placeholder {
          /* Internet Explorer 10+ */
          font-weight: normal;
          font-size: 0.28rem;
          color: #999;
        }
      }

      .button {
        font-size: 0.28rem;
        line-height: 1rem;
        padding: 0;

        .ons-icon {
          vertical-align: middle;
        }
      }
    }

    .money {
      font-weight: bold;
      font-size: 0.28rem;
      flex: 1;
      color: $primary-color;
      overflow: auto;
    }

    &.open {
      max-height: 10rem;
      transition: max-height 0.5s ease;
    }

    &.close {
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.5s ease;
    }

    &.bankCardName,
    &.platforms-select {
      border: 0;
    }

    &.platforms-select,
    &.platform {
      height: auto;

      .platform-item {
        width: 100%;
        text-align: center;
        border: 1px solid #ccc;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 0.06rem;
        color: #666;
        position: relative;
        display: flex;
        justify-content: center;

        // &.OKpay,
        // &.GOpay,
        // &.CGPay,
        // &.TOpay,
        // &.Topay,
        // &.购宝钱包,
        // &.K豆钱包,
        // &.USDT {
        //   &:before {
        //     content: "";
        //     width: 0;
        //     height: 0;
        //     border-style: solid;
        //     border-width: 0 0.5rem 0.5rem 0;
        //     border-color: transparent #ff4b4b transparent transparent;
        //     position: absolute;
        //     right: -1px;
        //     top: -1px;
        //   }
        //   &:after {
        //     content: "赠";
        //     position: absolute;
        //     top: 0px;
        //     right: -2px;
        //     -webkit-writing-mode: vertical-lr;
        //     writing-mode: vertical-lr;
        //     color: #fff;
        //     font-weight: 600;
        //     font-size: 0.18rem;
        //   }
        // }
        &.active {
          border: 1px solid #f77e04;
          color: #f77e04;
        }
        &.fill-active {
          @apply border border-[#FF9933] border-solid text-white bg-[#FF9933];
        }

        &.disable {
          background: #dbdbdb;
          color: #777;
        }
      }

      .menu-item:first-child .platform-item:before {
        border-top-right-radius: 4px;
      }
    }
  }

  .platform-alipay {
    @apply mt-0.5 break-words max-w-[240px];
    color: #f77e04;
    font-size: 0.26rem;
    font-weight: 600;
  }

  .tip {
    line-height: 0.4rem;
    color: #8e8e8e;
    font-size: 0.24rem;

    p {
      margin: 0 0.1rem;
    }

    div.questionmark::before {
      content: "?";
      display: inline-block;
      width: 16px;
      height: 16px;
      background-color: #f77e04;
      color: #fff;
      border-radius: 100%;
      text-align: center;
      vertical-align: middle;
      margin-right: 5px;
      line-height: 16px;
    }
  }

  .inputBox {
    width: 100%;
    margin: auto;
    height: 1rem;
    line-height: 1rem;
    padding: 0;
    border: none;

    .ons-icon {
      font-size: 0.4rem;
      top: 0;
      display: none;

      &.subfix {
        display: block;
      }
    }
  }

  .submit {
    width: 100%;
    text-align: center;
    margin-top: 0.25rem;

    &.drawmoneyset {
      width: 50%;
      display: inline-block;

      .button {
        width: 85%;
      }
    }

    .button {
      width: 100%;
    }
  }

  .grid-items {
    width: 100%;
    display: grid;
    gap: 10px;

    @media only screen and (max-width: 450px) {
      gap: 5px;
    }

    grid-template-columns: 1fr;

    @for $i from 2 through 10 {
      &.items-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }

    > div {
      align-items: center;
      border: 1px solid #e0e0e0;
      border-radius: 3px;
      text-align: center;
      padding: 8px 0;
      font-weight: 600;
      color: #666;
      display: flex;
      justify-content: center;
      font-size: 14px;

      &.active {
        @apply border border-[#FF9933] border-solid text-white bg-[#FF9933];
        // background-color: #fff;
        // border-color: #f77e04;
        // color: #f77e04;
      }
    }

    .dropdown {
      button {
        &.add {
          color: #f77e04;
        }

        &.platform-item {
          text-align: left;
          border: 0;
          display: inline;
        }
      }

      .menu > li.menu-item {
        &.disabled {
          background-color: #fff;

          button {
            @apply text-gray-300;
          }
        }

        button.platform-item {
          &.active {
            @apply text-theme relative border-none;

            &:after {
              content: "";
              @apply block absolute w-[5px] h-[10px] right-[16px] top-1/2 -translate-y-[7px] border-t-0 border-l-0 border-b-[1px] border-r-[1px] border-solid rotate-[45deg] z-50;

              &:hover {
                @apply border-theme;
              }
            }
          }
        }
      }
    }

    &.payments > div img {
      width: 18px;
      margin-right: 3px;
    }

    &.method.payments > div.active {
      border: 1px solid #ff9933;
      background-color: #ff9933;
      color: #fff !important;
    }
  }

  .withdraw-money {
    display: flex;

    .input {
      background-color: #f7f7f7;
      padding: 0.2rem 0.3rem;
      margin: 0;
      border: 0;
      border-radius: 2px;
      width: 100%;
      font-size: 0.3rem;
    }

    .int-money {
      flex: 3;
    }

    .dot {
      font-size: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 0 0.1rem;
      color: #f77e04;
      flex: none;
    }

    .dot-money {
      flex: 1;
    }
  }

  .bankCardNo {
    padding: 5px 0.25rem 0.2rem 0.25rem;

    .previews-content {
      @apply flex justify-center flex-col;
      // display: flex;
      // margin: 0 auto;
    }

    .line-btn {
      border-radius: 3px;
      border: 1px solid #f77e04;
      margin-top: 0.25rem;
      background-color: $primary-color;
      color: white;
      padding: 3px 0;
      width: 60px;
      text-align: center;
      font-size: 0.3rem;
    }
  }
}

ons-toast.orderpost-toast {
  pointer-events: unset;

  > div,
  .toast {
    left: 50%;
    right: unset;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
}

.preview-select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  border: 1px solid #eee;
  color: #333;
}

.withdraw-toast {
  .toast {
    @apply w-fit text-center h-4 top-1/2 mx-auto;

    .toast__message {
      @apply text-center;
    }
  }
}
