@import "@/_theme/theme.scss";

.frame-page {
  .toolbar.inverse {
    overflow: initial;
    box-shadow: none;
    background: $primary-color;
    text-transform: capitalize;
    height: 0.88rem;

    .toolbar-button,
    .center,
    ons-back-button,
    .back-button__icon,
    .user-status-module,
    .am-icon,
    ons-icon,
    select {
      color: #fff !important;
      fill: #fff !important;
    }

    .toolbar__left,
    .toolbar__title,
    .toolbar__center,
    .toolbar__right {
      line-height: 0.88rem;
    }

    .left {
      @apply relative font-medium;
    }

    .lottery-switch-button select {
      border-color: #fff !important;

      option {
        color: #000;
      }
    }

    .service-link-module {
      color: #ffffff;
    }
  }

  &.broadcast-chat-room,
  &.broadcast-chat {
    .toolbar.inverse {
      @apply bg-broadcast h-[44px] items-center;
      .left.toolbar__left {
        @apply brightness-0 font-light font-[400];
      }
      .center.toolbar__center.toolbar__title {
        color: #000 !important;
      }
      .right.toolbar__right {
        @apply active:bg-transparent;
      }
    }
  }

  &.empty-page {
    .toolbar.inverse {
      @apply bg-transparent;
    }
  }

  &.broadcast-chat-room {
    .toolbar.inverse {
      @apply border-b-[0.5px] border-solid border-x-0 border-t-0 border-[#d5d5d5];
    }
    &.virtual-keyboard {
      .toolbar.inverse {
        transition: top 0.27s ease-out, bottom 0.5s ease-out;
      }
    }

    .toolbar + .page__background + .page__content {
      top: 43px;
    }
  }

  &.broadcast-user {
    .toolbar.inverse {
      @apply bg-white;
      .toolbar__center.toolbar__title {
        @apply text-black;
      }
    }
  }
}

.broadcastchats .frame-page.page {
  .toolbar.inverse {
    background: #efefef;
    color: #000;
  }
}

.rebate-page.frame-page .page__background {
  @apply bg-[#F4F5F9];
}

.toolbar + .page__background + .page__content {
  top: 0.88rem;
}

.toolbar + .page__background {
  top: 0.88rem;
}

.api-loading {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 1.6rem;
  width: 1.6rem;
  margin-left: -0.8rem;
  margin-top: -0.8rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.1rem;
  box-sizing: border-box;
  padding-top: 0.1rem;

  p {
    color: #fff;
    text-align: center;
    margin: 0.1rem;
    font-size: 0.24rem;

    .ons-icon {
      font-size: 0.8rem;
      animation: spin 2s linear infinite;
    }
  }
}

@keyframes skeleton-stripes2 {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.6;
  }
}

.skeleton2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
  top: 0.88rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-sizing: border-box;
  padding-bottom: 2rem;

  img {
    width: 3rem;
    height: auto;
    animation: skeleton-stripes2 1s ease-in infinite;
    opacity: 0.3;
  }
}

@keyframes skeleton-stripes {
  0% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.7;
  }
}

.skeleton {
  position: absolute;
  z-index: 99;
  top: 0.88rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;

  .head1,
  .head2,
  .row span,
  .bars div {
    background-color: darken($background-color, 5);
    animation: skeleton-stripes 1s ease-in infinite;
    opacity: 0.7;
  }

  .head1,
  .head2 {
    height: 1rem;
    width: 90%;
    margin: 0.2rem auto;
  }

  .head2 {
    height: 0.6rem;
  }

  .row {
    width: 90%;
    margin: 0.2rem auto;
    display: flex;
    justify-content: space-between;

    span {
      display: flex;
      width: 22%;
      height: 0.8rem;
    }
  }

  .bars {
    width: 90%;
    margin: 0.2rem auto;
    text-align: left;

    div {
      margin: 0.2rem 0;
    }
  }
}

.ons-ios-scroll-fix .page:not(.page--wrapper)[shown] > .page__content {
  overflow-y: auto !important;
}
