@import "@/_theme/theme.scss";
.game-table-golden {
  .content {
    padding: 0 0.2rem;
    width: 90%;
    margin: auto;
  }
  .item {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    margin: auto 0 0.35rem;
    display: flex;
    .inline {
      margin-left: 0.2rem;
      display: flex;
      &:nth-child(1) {
        font-size: 0.26rem;
      }
      &:nth-child(2) {
        flex: 1;
      }
    }
    .inputBox input {
      border-bottom: 1px solid #f1f1f1;
      width: 90%;
    }
  }
  .tip {
    width: 100%;
    padding-top: 0.3rem;
    line-height: 0.4rem;
    display: flex;
    justify-content: space-between;
    color: $primary-color;
    margin-bottom: 0.3rem;
    span {
      margin: 0.025rem;
      &:nth-child(2) {
        background: $primary-color;
        color: #fff;
        padding: 0 0.2rem;
        border-radius: 15px;
      }
    }
  }
  .inputBox {
    width: 100%;
    margin: auto;
    height: 1rem;
    line-height: 1rem;
    padding: 0;
    border: none;
    .ons-icon {
      font-size: 0.4rem;
      top: 0.3rem;
      display: none;
      &.subfix {
        display: block;
      }
    }
    ons-input input {
      font-size: 0.26rem;
      padding: 0;
    }
  }
  .submit {
    width: 100%;
    text-align: center;
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-around;
    .button {
      width: 40%;
      &:first-child {
        background: transparent;
        border: 1px solid $primary-color;
        color: $primary-color;
      }
    }
  }
  .round-info {
    color: #000;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    box-shadow: 0 0 5px rgba(132, 132, 132, 0.32);
    padding-bottom: 20px;
    .poker-group {
      background: url("/public/images/goldenPK/gameTable/desk.png") top center no-repeat;
      background-size: 100% 100%;
      width: 100%;
    }
    .pokerItem {
      display: flex;
      color: #666;
      line-height: 0.4rem;
      width: 100%;
      &:first-child {
        color: #1f1f21;
        //border-right: 1px solid #ccc;
        box-sizing: border-box;
      }
      .poker {
        display: flex;
        justify-content: center;
        margin: 0.1rem 0;
        .golden-poker-card {
          border: 1px solid #777;
          border-radius: 3px;
          margin: 0 0.2rem;
        }
      }
    }
    .dian {
      min-width: 50%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0.5rem;
      .dianItem {
        line-height: 0.6rem;
        width: 100%;
        text-align: center;
        color: #83ffdb;
      }
    }
    .p30 {
      width: 33%;
      justify-content: center;
    }
  }
}
