@import "@/_theme/theme.scss";

.site-login {
  .toolbar {
    height: 45px;
  }
  .page__background {
    @apply bg-theme;
  }
  .toolbar.inverse {
    background-color: #f77e04;
  }
  .page__content {
    background: transparent;
    .top-box {
      position: relative;
    }
    .logo {
      position: relative;
    }
    .yidun_intelli-tips {
      .yidun_intelli-text {
        display: none;
      }
      &::after {
        content: "点击完成验证，登陆";
        display: inline-block;
        line-height: 0.76rem;
      }
    }
  }
}

.login-dialog {
  .alert-dialog {
    width: 400px;
    max-width: 85%;
    border-radius: 8px;
    background-color: #fff;
    .inputBox {
      input {
        @apply font-normal;
      }
    }
  }
  .alert-dialog-container {
    @apply pt-[20px];
  }
  .alert-dialog-button {
    background-image: none;
  }
  .alert-dialog-footer {
    display: flex;
    > div {
      flex: 1;
    }
    .cancel {
      // border-right: 1px solid #ddd;
      @apply border-0 border-t-[1px] border-r-[1px] border-solid border-[#EBEDF0];
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      color: #000;
    }
    .confirm {
      @apply border-0 border-t-[1px] border-solid border-[#EBEDF0];
    }
  }
  .modal-inner {
    margin: 0 auto;
    h3 {
      color: #333;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      margin-top: 0;
    }
    .inputBox {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding-left: 5px;
      margin: 16px 0 20px;
    }
    .question-mark {
      margin: 16px 0;
      color: #999;
      text-align: center;
      word-break: break-word;
      font-size: 14px;
    }
    .content {
      padding: 0 20px;
    }
  }
}

.register-success-dialog {
  .alert-dialog-button,
  .alert-dialog-button--primal {
    @apply font-bold rounded-none;
  }
}
.login-dialog {
  .alert-dialog-button,
  .alert-dialog-button--primal {
    @apply rounded-none;
  }
}
