.chat-messages {
  .chat_msg {
    display: block;
    position: relative;

    .user-info {
      text-align: center;
      display: block;
      position: absolute;
      top: 0.1rem;
      width: 0.8rem;
      text-overflow: ellipsis;
      overflow: hidden;
      border-radius: 0.1rem;

      .systemAvatar {
        @apply w-[0.8rem] h-[0.8rem] rounded-[5px];
        background: #ff8f8f url("/public/images/HttpChatPage/service.png") no-repeat center / contain !important;
        // background: #ff8f8f url("/public/images/chat-manager.png") no-repeat center / contain !important;
      }

      .user-icon {
        display: block;
        font-size: 0.6rem;
        height: 0.8rem;
        width: 0.8rem;
        text-align: center;
        //background: #CCC;
        color: #fff;

        .ons-icon {
          vertical-align: -10%;
        }
      }

      .user-name {
        display: block;
        font-size: 0.24rem;
        text-align: center;
        color: #000;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-top: 0.04rem;
        word-break: break-all;
        white-space: nowrap;

        &.is-manager {
          color: #e8505b;
        }
      }
    }

    .message-body {
      min-height: 1.6rem;
      padding-left: 1.3rem;
      padding-right: 0.7rem;

      .gbzy {
        color: red;
      }

      .hongbao-img {
        //background: url('./images/hongbao.png');
        width: 64px;
        aspect-ratio: 204/288;
        //background-size: cover;
      }

      .red {
        color: #bd0904;
      }

      .strong {
        font-weight: bold;
      }

      label.user-name {
        position: absolute;
        color: #999;
      }

      div.system-message,
      div.user-message {
        div.inner {
          display: inline-block;
          padding: 0.2rem;
          border-radius: 0.1rem;
          border: 1px solid;
          position: relative;
          color: #444;
          font-size: 0.28rem;
          text-align: left;
          margin: 0.4rem 0 0.1rem 0;
          word-break: break-all;
          @apply bg-[white] border-[#e8e8e8];

          &::before {
            content: "";
            width: 0;
            height: 0;
            border: 0.2rem solid;
            border-color: #e8e8e8 transparent transparent transparent;
            position: absolute;
            transform: rotate(90deg);
          }

          &::after {
            content: "";
            width: 0;
            height: 0;
            border: 0.2rem solid;
            border-color: #fff transparent transparent transparent;
            position: absolute;
            transform: rotate(90deg);
          }

          &:has(> img, span.whitespace-pre-line a img) {
            @apply bg-transparent border-transparent p-0 h-[120px];

            &::before,
            &::after {
              @apply hidden;
            }
          }

          img {
            @apply max-w-[95%] max-h-[2.4rem] h-full;
          }

          span {
            &.strong {
              @apply font-bold;
            }

            &.red {
              color: red;
            }
          }
        }

        div.quote-message {
          @apply bg-[#E1E1E1] text-gray-600 p-0.5 rounded-[3px] table;
        }

        .audio-container {
          @apply flex items-center;
        }
      }

      .system-message div.inner {
        .red {
          color: red;
        }

        .strong {
          font-weight: bold;
        }
      }

      .effect-menus {
        @apply absolute z-10 -left-1 bottom-full mb-1 m-auto text-white bg-black/65 w-[182px] rounded-[8px] flex py-[15px];

        .effect-menu {
          @apply flex flex-col items-center justify-center flex-1 relative leading-none text-[14px];
        }

        &::after {
          content: "";
          @apply border-solid absolute top-full left-2.5 h-0 w-0 border-x-8 border-b-transparent border-x-transparent border-t-[10px] border-t-black/65;
        }
      }
    }

    .shareBet {
      @apply max-w-[60vw] w-20 sm:w-24;

      .shareBetTitle {
        @apply inline-flex justify-between w-full mb-0.25;
      }

      .shareBetContent {
        @apply text-[0.24rem] font-[400];

        > div.betsub {
          @apply min-h-[30px] first:rounded-t-[4px] last:rounded-b-[4px] bg-[#F6F6F6] w-full flex items-center py-0.25 px-0.5 border-b-[0.5px] border-solid border-x-0 border-t-0 border-[#DDDDDD] last:border-b-0 box-border;
        }

        .info {
          @apply rounded-t-[4px];

          span {
            &:first-child {
              @apply whitespace-nowrap pr-0.25;
            }

            &:last-child {
              @apply ml-auto justify-self-end text-[#df4f4f] whitespace-nowrap pl-0.25;
            }
          }
        }

        .followBet {
          @apply w-3 bg-[#07C160] py-[2px] ml-auto text-white rounded-[3px] text-center;
        }
      }
    }

    &.left {
      .user-info {
        left: 0.2rem;
      }

      .audio-icon {
        @apply rotate-180;
      }

      .message-body {
        label.user-name {
          left: 1.3rem;
        }

        div.user-message,
        div.system-message {
          div.inner {
            &::before {
              left: -0.4rem;
              top: 0.15rem;
            }

            &::after {
              left: -0.38rem;
              top: 0.15rem;
            }

            .quote {
              display: block;
              padding: 8px;
              margin-bottom: 8px;
              border-bottom: 1px solid #eee;
              font-style: italic;

              .quote-content {
                display: block;
                color: #666;
              }

              .quote-info {
                margin-top: 8px;
                display: block;
                color: #bbb;
                font-size: 0.22rem;

                span {
                  margin-right: 8px;
                }
              }
            }
          }

          div.quote-message {
            @apply mr-auto;
          }

          .shareWin {
            @apply max-w-[60vw] w-20 sm:w-24;
            display: inline-block;

            .shareWinTitle {
              @apply flex justify-between w-full h-[30px];
            }

            .shareWinContent {
              @apply bg-[#f6f6f6] rounded-[4px] w-full flex justify-around;

              .shareWinItem {
                @apply flex justify-between items-center h-[30px] border-b border-solid border-x-0 border-t-0 border-[#ddd] last:border-b-0 box-border px-0.5 text-[12px];
              }
            }
          }
        }
      }
    }

    &.right {
      .user-info {
        right: 0.2rem;
      }

      .message-body {
        label.user-name {
          right: 1.3rem;
          display: none;
        }

        text-align: right;
        padding-right: 1.3rem;
        padding-left: 0.7rem;

        div.user-message,
        div.system-message {
          div.inner {
            @apply bg-[#95ec69] border-[#95ec69] mt-[0.14rem];

            &::before {
              right: -0.4rem;
              top: 0.15rem;
              transform: rotate(270deg);
              border-color: #95ec69 transparent transparent transparent;
            }

            &::after {
              right: -0.38rem;
              top: 0.15rem;
              transform: rotate(270deg);
              border-color: #95ec69 transparent transparent transparent;
            }

            &:has(> img) {
              @apply border-transparent bg-transparent p-0 h-[120px];

              &::before,
              &::after {
                @apply hidden;
              }
            }

            &.shareType {
              padding: 0.03rem;
            }

            .quote {
              display: block;
              padding: 8px;
              margin-bottom: 8px;
              //background: rgba(0,0,0,.15);
              border-bottom: 1px solid #e9cea7;
              font-style: italic;

              //border-radius: 3px;
              .quote-content {
                display: block;
                color: #eee;
              }

              .quote-info {
                display: block;
                color: #f0d8b3;
                font-size: 0.22rem;
                margin-top: 8px;

                span {
                  margin-right: 8px;
                }
              }
            }

            .shareBet {
              .shareBetContent {
                > div.betsub {
                  @apply bg-[#B3FD8D] border-[#A4F47B];
                }
              }
            }

            .shareWin {
              @apply max-w-[60vw] w-20 sm:w-24;
              display: inline-block;
              text-align: center;
              box-sizing: border-box;
              border-radius: 3px;

              .shareWinTitle {
                @apply flex justify-between w-full h-[30px];
              }

              .shareWinContent {
                @apply bg-[#B3FD8D] border-[#A4F47B] rounded-[4px] w-full flex justify-around;

                .shareWinItem {
                  @apply flex justify-between items-center h-[30px] border-b border-solid border-x-0 border-t-0 border-[#95ec69] last:border-b-0 box-border px-0.5 text-[12px];
                }
              }
            }
          }

          div.quote-message {
            @apply ml-auto;
          }

          div.audio-container {
            @apply flex-row-reverse;
          }
        }
      }

      .effect-menus {
        @apply left-auto -right-1 w-[127px] flex-row-reverse;

        &::after {
          @apply right-2.5 left-auto;
        }

        .effect-menu.ta {
          @apply hidden;
        }
      }
    }

    div.system-message {
      div.inner {
        color: #e10004 !important;
      }
    }
  }

  .spliter {
    font-size: 0.24rem;
    color: #a5a5a5;
    border-bottom: 0px solid #f0f0f0;
    text-align: center;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    background-color: transparent !important;

    span {
      background-color: transparent !important;
    }
  }
}

.broadcast-image-carousel .ons-swiper-target {
  @apply items-center;
}
