@import "@/_theme/theme.scss";

.site-home {
  .slider {
    background: #f1f1f1;
    //margin: .12rem;
    margin: 0.12rem 0.12rem 0;
    font-size: 0;
    border-radius: 8px;
    overflow: hidden;
    -webkit-transform: rotate(0deg);

    // @media screen and (max-width: 900px) {
    //588 × 202
    // height: calc(100vw /  (640/220));
    // aspect-ratio: 640 / 220;
    // }
    // aspect-ratio: 640 / 220;
    aspect-ratio: 588 / 193;

    //.ons-swiper{
    //  border-radius: 8px;
    //  overflow: hidden;
    //}
    .slider-item {
      //border-radius: 8px;
      //overflow: hidden;
      //img{
      //  border-radius: 8px;
      //}
      a img {
        max-width: 100%;
      }
    }
  }

  p {
    color: $text-color;
  }

  .page__background {
    background: #fff;
  }

  .page__content {
    padding-bottom: 0.88rem;
  }

  .toolbar .logo img {
    height: 0.72rem;
    margin-top: 0.08rem;
    margin-left: 0.12rem;
  }

  .toolbar__right {
    width: 50%;
  }

  .menu {
    display: flex;
    width: 100%;
    padding: 0.16rem 0;
    background: #fff;
    margin: 0;
    font-size: 0.28rem;

    .btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20%;
      border-radius: 3px;

      p {
        margin: 0.06rem 0 0;
        text-align: center;
      }

      a {
        color: #2c3e50;
        text-decoration: none;
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    &.top-menu {
      .btn {
        .icon {
          font-size: 0.72rem;
          line-height: 0.72rem;
          height: 0.72rem;
          width: 0.72rem;
          overflow: hidden;
          vertical-align: middle;
          box-sizing: border-box;
          margin: 0.1rem auto;
          text-align: center;

          ons-icon {
            vertical-align: 0;
          }
        }

        .icon.instance {
          text-align: center;
          background: #b5076b;
          font-size: 0.48rem;
          border-radius: 50%;

          ons-icon {
            vertical-align: 0;
          }
        }

        &.deposit {
          .icon {
            color: #fff;
          }
        }

        &.withdraw {
          .icon {
            color: #fff;
            background-color: #3797a4;
          }
        }

        &.service {
          .am-icon {
            color: #6a097d;
            fill: #6a097d;
          }
        }

        &.sign {
          .icon {
            color: #fc8210;
            fill: #fc8210;
          }
        }

        &.activity {
          .icon {
            color: #d32626;
            fill: #d32626;
          }
        }
      }
    }
  }

  .sized-box {
    height: 0.2rem;
    background-color: $background-color;
  }

  .content {
    height: 100%;
    .tabs {
      background: #fafafa;
      margin-bottom: 0;
      padding: 0;
      display: flex;

      .tab {
        border-top: 0.04rem solid transparent;
        padding: 0.1rem 0;
        flex: 1;
        text-align: center;
        font-size: 0.26rem;
        background-color: #f9f9f9;
        border-bottom: 1px solid #eaeaea;

        .icon {
          //margin-top: 5px;
          height: 0.64rem;
          width: 0.64rem;
          margin: 0 auto;
          color: #666;

          ons-icon {
            font-size: 0.6rem;
          }

          .lottory-icon {
            height: 0.56rem;
            width: 0.56rem;
            border-radius: 50%;
            line-height: 0.56rem;
            text-align: center;
            font-weight: bold;
            color: #fff;
            font-style: normal;
            background-color: #666;
            display: block;
            font-size: 0.48rem;
          }
        }

        p {
          margin: 0;
          color: #1F1F21;
          font-size: 0.28rem;
        }

        &.active {
          background-color: #fff;
          border-top-color: $primary-color;
          border-bottom-color: transparent;

          .icon {
            color: $primary-color;

            .ons-icon::after {
              border-top-color: $primary-color;
            }
          }

          p {
            color: $primary-color;
          }

          .lottory-icon {
            background-color: $primary-color;
          }
        }
      }

      .card-game {
        .ion-heart {
          position: relative;
          transform: rotate(180deg);

          &::after {
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-top: 0.2rem solid #666;
            border-bottom: 0.2rem solid transparent;
            border-left: 0.08rem solid transparent;
            border-right: 0.08rem solid transparent;
            position: absolute;
            top: 0px;
            left: 50%;
            margin-left: -0.08rem;
          }
        }
      }
    }

    .game-list {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 0.28rem;
      background-color: #fff;

      .secMenu {
        display: flex;
        justify-content: space-around;

        //border-bottom: 1px solid #eee;
        span {
          padding: 5px 5px;
          display: flex;
          flex: 1;
          justify-content: center;
          color: #666666;
          font-size: 0.28rem;
        }

        .on {
          color: #f77e04;
          padding: 5px 5px;
          border-bottom: 1px solid #f77e04;
          font-size: 0.28rem;
          font-weight: bold;
        }

        padding: 8px 0;
        font-size: 0.23rem;
      }

      .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: #fff;

        .col {
          flex: 0 0 50%;
          max-width: 50%;
          border-bottom: 1px solid #f1f1f1;

          &.disable {
            display: none;
          }
        }
      }

      .game-item {
        width: 100%;
        height: 1.48rem;
        display: flex;
        align-items: center;
        background: #fff;
        box-sizing: border-box;

        &:active {
          background: rgba(0, 0, 0, 0.1);
        }

        .box {
          display: inline-block;
          vertical-align: top;

          p {
            margin: 0;
            line-height: 0.44rem;
            font-size: 0.28rem;

            &:nth-child(2) {
              color: #999;
              font-size: 0.24rem;
              line-height: 0.36rem;
            }
          }
        }

        .l-box {
          width: 0.9rem;
          height: 0.9rem;
          border-radius: 50%;
          background: #f1f1f1;
          margin: 0 0.2rem 0 0.3rem;
          overflow: hidden;

          // .game-icon {
          //   display: block;
          //   width: 100%;
          //   height: 100%;

          //   &.FFC5-icon {
          //     background: url("/public/images/Home/lottery/ffc5.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.FHCFX-icon {
          //     background: url("/public/images/Home/lottery/FHCFX.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.SH11X5-icon {
          //     background: url("/public/images/Home/lottery/sh11x5.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.X51-icon {
          //     background: url("/public/images/Home/lottery/x1.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.X55-icon {
          //     background: url("/public/images/Home/lottery/x5.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.AH11X5-icon {
          //     background: url("/public/images/Home/lottery/ah11x5.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.JS11X5-icon {
          //     background: url("/public/images/Home/lottery/js11x5.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.PK5-icon {
          //     background: url("/public/images/Home/lottery/pk5.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.LHC3-icon {
          //     background: url("/public/images/Home/lottery/lhc3.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.BJK3-icon {
          //     background: url("/public/images/Home/lottery/bjk3.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.AHK3-icon {
          //     background: url("/public/images/Home/lottery/ahk3.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.SHK3-icon {
          //     background: url("/public/images/Home/lottery/shk3.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.JXK3-icon {
          //     background: url("/public/images/Home/lottery/jxk3.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.SF101-icon {
          //     background: url("/public/images/Home/lottery/SF101.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.SF103-icon {
          //     background: url("/public/images/Home/lottery/SF103.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.SF105-icon {
          //     background: url("/public/images/Home/lottery/SF105.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.K31-icon {
          //     background: url("/public/images/Home/lottery/K31.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.K33-icon {
          //     background: url("/public/images/Home/lottery/K33.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.K35-icon {
          //     background: url("/public/images/Home/lottery/K35.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.QXC-icon {
          //     background: url("/public/images/Home/lottery/QXC.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.PL5SSC-icon {
          //     background: url("/public/images/Home/lottery/PL5SSC.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.FFC-icon {
          //     background: url("/public/images/Home/lottery/ffc.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.FFC3-icon {
          //     background: url("/public/images/Home/lottery/ffc3.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.FFCHC-icon {
          //     background: url("/public/images/Home/lottery/FFCHC.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.BFCHC-icon {
          //     background: url("/public/images/Home/lottery/BFCHC.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.PK10-icon {
          //     background: url("/public/images/Home/lottery/pk10.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.PK3-icon {
          //     background: url("/public/images/Home/lottery/pk3.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.LHC1-icon {
          //     background: url("/public/images/Home/lottery/lhc1.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.LHC5-icon {
          //     background: url("/public/images/Home/lottery/lhc5.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.X53-icon {
          //     background: url("/public/images/Home/lottery/x3.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.LUCKY28-icon {
          //     background: url("/public/images/Home/lottery/lucky28.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.LHC-icon {
          //     background: url("/public/images/Home/lottery/lhc.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.XYFT-icon {
          //     background: url("/public/images/Home/lottery/xyft.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.AU5-icon {
          //     background: url("/public/images/Home/lottery/au5.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.AU10-icon {
          //     background: url("/public/images/Home/lottery/au10.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.CQSSC-icon {
          //     background: url("/public/images/Home/lottery/cqssc.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.XJSSC-icon {
          //     background: url("/public/images/Home/lottery/xjssc.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.TJSSC-icon {
          //     background: url("/public/images/Home/lottery/tjssc.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.BJPK10-icon {
          //     background: url("/public/images/Home/lottery/bjpk10.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.GD11X5-icon {
          //     background: url("/public/images/Home/lottery/gd11x5.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.XJ-icon {
          //     background: url("/public/images/Home/lottery/xj.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.JX11X5-icon {
          //     background: url("/public/images/Home/lottery/jx11x5.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.XJ11X5-icon {
          //     background: url("/public/images/Home/lottery/xj11x5.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.FARM-icon {
          //     background: url("/public/images/Home/lottery/farm.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.GD10-icon {
          //     background: url("/public/images/Home/lottery/gd10.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.TJ10-icon {
          //     background: url("/public/images/Home/lottery/tj10.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.AU8-icon {
          //     background: url("/public/images/Home/lottery/au8.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.BJ8-icon {
          //     background: url("/public/images/Home/lottery/bj8.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.BJ28-icon {
          //     background: url("/public/images/Home/lottery/bj28.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.JSK3-icon {
          //     background: url("/public/images/Home/lottery/jsk3.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.GXK3-icon {
          //     background: url("/public/images/Home/lottery/gxk3.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.LHCMACAU-icon {
          //     background: url("/public/images/Home/lottery/lhcmacau.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.LHCSG-icon {
          //     background: url("/public/images/Home/lottery/lhcsg.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.LHCTW-icon {
          //     background: url("/public/images/Home/lottery/lhctw.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.HXSix-icon {
          //     background: url("/public/images/Home/lottery/hxsix.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.FC3D-icon {
          //     background: url("/public/images/Home/lottery/FC3D.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.PL3-icon {
          //     background: url("/public/images/Home/lottery/PL3.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.KY-icon {
          //     background: url("/public/images/Home/games/ky.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.LEG-icon {
          //     background: url("/public/images/Home/games/leg.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.AG-icon {
          //     background: url("/public/images/Home/games/ag.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.Baccarat-icon {
          //     background: url("/public/images/Home/games/baccarat.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.GoldenPK-icon {
          //     background: url("/public/images/Home/games/goldenPK.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.FistenPK-icon {
          //     background: url("/public/images/Home/games/fistenPK.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.DicePK-icon {
          //     background: url("/public/images/Home/games/dicePK.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.TB-icon {
          //     background: url("/public/images/Home/games/tb.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.SB-icon {
          //     background: url("/public/images/Home/games/sb.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.RED-icon {
          //     background: url("/public/images/Home/games/redpacket.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.AB-icon {
          //     background: url("/public/images/Home/games/ab.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.AE-icon {
          //     background: url("/public/images/Home/games/ae.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.BBIN-icon {
          //     background: url("/public/images/Home/games/bbin.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.BG-icon {
          //     background: url("/public/images/Home/games/bg.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.CARD365-icon {
          //     background: url("/public/images/Home/games/card365.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.CQ9-icon {
          //     background: url("/public/images/Home/games/cq9.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.DS-icon {
          //     background: url("/public/images/Home/games/ds.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.DT-icon {
          //     background: url("/public/images/Home/games/dt.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.MG-icon {
          //     background: url("/public/images/Home/games/mg.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.OG2-icon {
          //     background: url("/public/images/Home/games/og2.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.YL-icon {
          //     background: url("/public/images/Home/games/yl.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.ZH-icon {
          //     background: url("/public/images/Home/games/zh.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.PT-icon {
          //     background: url("/public/images/Home/games/pt.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.QT-icon {
          //     background: url("/public/images/Home/games/qt.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.M8-icon {
          //     background: url("/public/images/Home/games/m8.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.HL-icon {
          //     background: url("/public/images/Home/games/hl.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.KS-icon {
          //     background: url("/public/images/Home/games/ks.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.JDB-icon {
          //     background: url("/public/images/Home/games/jdb.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.IM-icon {
          //     background: url("/public/images/Home/games/im.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.HXBaccarat-icon {
          //     background: url("/public/images/Home/baccarat/HXBaccarat.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.HXBFPK10-icon {
          //     background: url("/public/images/Home/lottery/HXBFPK10.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.HXYFPK10-icon {
          //     background: url("/public/images/Home/lottery/HXYFPK10.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.HXXY5-icon {
          //     background: url("/public/images/Home/lottery/HXXY5.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.HXXY10-icon {
          //     background: url("/public/images/Home/lottery/HXXY10.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.NUI-icon {
          //     background: url("/public/images/Home/games/niuniu.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.HASHLUCK-icon {
          //     background: url("/public/images/Home/games/hash-luck.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.HASHHALF-icon {
          //     background: url("/public/images/Home/games/hash-half.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.HASHONETEN-icon {
          //     background: url("/public/images/Home/games/hash-one-ten.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.JOMSix-icon {
          //     background: url("/public/images/Home/lottery/jomsix.png") center no-repeat;
          //     background-size: 100%;
          //   }
          //   &.KLSix-icon {
          //     background: url("/public/images/Home/lottery/klsix.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.hxyf11x5-icon {
          //     background: url("/public/images/Home/lottery/hxyf11x5.png") center no-repeat;
          //     background-size: 100%;
          //   }

          //   &.PG-icon {
          //     background: url("/public/images/Home/lottery/PG.png") center no-repeat;
          //     background-size: 100%;
          //   }
          //   &.BAOBEI-icon {
          //     background: url("/public/images/Home/lottery/baobei.png") center no-repeat;
          //     background-size: 100%;
          //   }
          //   &.PM-icon {
          //     background: url("/public/images/Home/games/pm.png") center no-repeat;
          //     background-size: 100%;
          //   }
          //   &.BOYA-icon {
          //     background: url("/public/images/Home/games/boyafish.png") center no-repeat;
          //     background-size: 100%;
          //   }
          //   &.BOYACHESS-icon {
          //     background: url("/public/images/Home/games/boya.png") center no-repeat;
          //     background-size: 100%;
          //   }
          //   &.DB-icon {
          //     background: url("/public/images/Home/games/db.png") center no-repeat;
          //     background-size: 100%;
          //   }
          //   &.DBCardGame-icon {
          //     background: url("/public/images/Home/games/dbchess.png") center no-repeat;
          //     background-size: 100%;
          //   }
          //   &.DBGame-icon {
          //     background: url("/public/images/Home/games/DBSlot.png") center no-repeat;
          //     background-size: 100%;
          //   }
          // }
          @import "./gameIcon.scss";
        }
      }

      .card-game-list {
        .row {
          border-bottom: 1px solid #f1f1f1;

          .col {
            &:last-child {
              border: none;
            }
          }
        }
      }
    }

    .all-list {
      .row {
        .col {
          &:last-child {
            border: none;
          }
        }
      }
    }

    .game-list {
      .hot-list {
      }

      .lottory-list,
      .casino-list,
      .slot-list,
      .card-game-list {
        .game-icon {
          display: none !important;
        }
      }

      &.active-0 {
        .lottory-list .game-icon {
          display: block !important;
        }
      }

      &.active-1 {
        .casino-list .game-icon {
          display: block !important;
        }
      }

      &.active-2 {
        .card-game-list .game-icon {
          display: block !important;
        }
      }

      &.active-3 {
        .slot-list .game-icon {
          display: block !important;
        }
      }

      &.active-4 {
        .sport-list .game-icon {
          display: block !important;
        }
      }
    }
  }

  .forum_banner {
    width: calc(100% - 12px);
    object-fit: contain;
    margin-left: 6px;
    margin-right: 6px;
  }
}

.pop-notice-modal {
  .modal-inner {
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
    position: relative;

    .platform-notice {
      background-color: #f77e04;
      padding: 8px 0;
      text-align: center;
      border-radius: 5px 5px 0 0;
      font-size: 24px;
    }

    ons-carousel {
      background-color: #fff;

      ons-carousel-item {
        .title {
          background-color: $primary-color;
          height: 0.72rem;
          line-height: 0.72rem;
          font-size: 0.28rem;
        }

        .content {
          color: #444;
          font-size: 0.26rem;
          line-height: 1.8;
          padding: 0.2rem 0.2rem 0.6rem;
          max-height: 8rem;
          overflow: auto;
          text-align: left;
        }
      }
    }
  }

  .closeBtn {
    font-size: 0.28rem;
    //margin-top: 0.2rem;
    width: 100%;
    background: #fff;
    color: #000;
    border-top: 1px solid #f0f0f0;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 1px;
      background: #f0f0f0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    div {
      display: inline-block;
      width: 50%;
      text-align: center;
      padding: 0.2rem 0;
    }
  }
  .carsousel-nav {
    //position: absolute;
    width: 5rem;
    background: #fff;
    margin: 0;
    padding: 0;
    padding-bottom: 0.1rem;
    bottom: 0.72rem;
    height: 0.4rem;
    line-height: 0.4rem;
    left: 0;

    .nav-item {
      list-style: none;
      display: inline-block;
      width: 0.16rem;
      height: 0.16rem;
      background: #ccc;
      border-radius: 50%;
      margin: 0 0.1rem;

      &.on {
        background-color: $primary-color;
      }
    }
  }
}

.slider-skeleton {
  background-color: #f1f1f1;
  height: 34.375vw;
  max-height: 202px;
  border-radius: 8px;
  margin: 0.12rem 0.12rem 0;
}

.modal-inner .slider-item a img {
  max-width: 100%;
}

// .pop-member {
//   @apply fixed bottom-1/4 w-full max-w-[600px] flex justify-end pointer-events-none;
// }
