.points-list-frame {
  .page__background {
    background-color: #f1f1f1;
  }

  .page__content {
    .class-image {
      padding: 10px;
      flex: 0 0 0;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
} 

.shop-list {
  .empty_view_layout {
    height: calc(100vh - 45px);
  }
}